Add Extended Tokens Feature(RFC 8974) in libcoap.

**Is your feature request related to a problem? Please describe.**

I noticed that the serialization of state into tokens is limited by the fact that both Coap over UDP[RFC7252] and Coap over reliable transports[RFC8323] restrict the maximum token length to 8 bytes.But in RFC8974, to overcome this limitation, the token length can be expanded.When is this feature planned to be added to libcoap?

**Describe the solution you'd like**

Add in support for extended tokens.

Thanks in advance


I actually have code in place to do this, but was waiting for some the other PRs to be merged that add it extra token usage.


Thank you for replying. @mrdeep1 

@529433 If you could try out #938 (which is waiting for review and merge) and confirm that this works for you, that would be great.

Ok，i will try it #938。 

I use coap-client and coap-server in the example to test the extended token, capture packets, and analyze Coap packets. However, the result is very confusing.
![image](https://user-images.githubusercontent.com/29014015/196135082-a8d46be2-67b1-45bc-83fd-b510e42db029.png)
![image](https://user-images.githubusercontent.com/29014015/196135210-6b1e7241-2d76-47db-b9d9-4617e31739c1.png)
![image](https://user-images.githubusercontent.com/29014015/196135396-b5c84e2f-baf2-4167-9e76-5b743349381f.png)
![image](https://user-images.githubusercontent.com/29014015/196135547-a2b8b2b8-106d-4d77-9d77-17e944c30b3d.png)
Why Does a Request Become Two Coap Messages?
Why is the binary content of the first packet so strange?
The second packet appears to match the extended tokens, but the Wireshark fails to identify the packet.
![image](https://user-images.githubusercontent.com/29014015/196137766-9c49ace8-f357-4f51-8d45-ac3fd9d9d99a.png)
Thanks in advance

Thanks for doing this review,

> Why Does a Request Become Two Coap Messages?

[RFC8973 Section 2.2. Discovering Support](https://www.rfc-editor.org/rfc/rfc8974.html#section-2.2) and in particular
[RFC8974 Section 2.2.2. Trial and Error](https://www.rfc-editor.org/rfc/rfc8974.html#section-2.2.2) is the test for the Extended Token support which is the first packet you are seeing.  The second packet is your actual request.

> Why is the binary content of the first packet so strange?

This is the test packet for determining whether the server has Extended Token support or not.

> The second packet appears to match the extended tokens, but the Wireshark fails to identify the packet.

It appears that wireshark does not know how to decode Extended Tokens and hence the reporting confusion.  The libcoap logs show the correctly decoded packets.  For example, wireshark reports the token length as 13, whereas the 13 indicates that you need the first byte of the token (in this case 01) added to 13 which gives 14 as per [RFC8974 Section 2.1. Extended Token Length (TKL) Field](https://www.rfc-editor.org/rfc/rfc8974.html#section-2.1)

> Is the coap-client in the example incorrect?

The example is correct and working as expected.

I have updated the documentation for #938 to reflect the initial Extended Token test PDU that is sent.

Thank you for your reply,i will check RFC8974 Section 2.2.2. Trial and Error to figure out the meaning of the first packet.

@529433 How is it all going?