Handling of Conditional Request Options

Sorry to bother, but I’ve identified three potential RFC compliance issues during testing and would appreciate your insights.
### Problem Description
According to RFC 7252 section 5.10.8, all CoAP resources MUST handle conditional requests and respond with `4.12 Precondition Failed` if the conditions are not met.
In the current implementation ,  normal resources ignore these conditional headers and proceed with the request.
### Steps to Reproduce:
1. Start the standard server examples/coap-server 
2.  Get Current Resource State 
     `CON PUT /time: 44014b6ee2cc8393b474696d65`
3. Send Conditional Request with Non-matching ETag
    ```
    CON GET /time（If-Match option with a non-matching ETag value "55443322"）:
    4403b48096dd45c51455443322a474696d65ff4e65772074696d652076616c7565
    ```
4. The server processes the request 2.04 Changed instead of responding with 4.12 Precondition Failed.
### Implementation Discrepancy
Interestingly, the oscore-interop-server in the same codebase does implement conditional option handling for the oscore/hello/7 resource:
```
static void
hnd_put_hello_7(coap_resource_t *resource,
                coap_session_t *session,
                const coap_pdu_t *request,
                const coap_string_t *query,
                coap_pdu_t *response) {
  // ...
  if ((option = coap_check_option(request, COAP_OPTION_IF_MATCH,
                                  &opt_iter)) != NULL) {
    etag = coap_decode_var_bytes8(coap_opt_value(option),
                                  coap_opt_length(option));
    if (etag != 0x7b) {
      coap_pdu_set_code(response, COAP_RESPONSE_CODE_PRECONDITION_FAILED);
      return;
    }
  }
  // ...
}
```

It would be helpful if you could clarify whether this is a bug or intended behavior. Thank you for your time and assistance.

Thank you for spending the time to see if there are compliance issues.  It is good to get things "right".

The example coap-server does not correctly check for ETag matches.  I will look into how this can easily be done.