Process each request in a different thread?

Hi! I hope you can help me with an issue.

Well, it's not really an issue. More like a question. 

I'm using libcoap-4.3.5 to create a very specific HTTP proxy and I would like to handle each request received in a different thread to prevent blocking. The coap-server.c in the version 4.3.5 branch does not provide an example of how I could do it with multiple threads, unfortunately. 
I've found the function **coap_io_process_loop** in the very complete doxygen documentation of the development version and in the coap-server.c in the develop branch. Since I'm stuck at the 4.3.5 version I cannot use it.

If I were to implement a multi threaded request handling in the 4.3.5 version what approach could I use ? Is there an example I could follow ? Is that even possible ? The fact the requests are received in a callback is making me scratch my head thinking of how to do it. 

I hope to have read enough of documentation for not to be wasting your time.

Thank you for your attention. 


It is unclear whether you are talking about a `Client-CoAP-HTTP-Server` or `Client-HTTP-CoAP-Server` proxy here.  I assume that all is working in a single thread basis here.

4.3.5 does support multi-threads, but not specifically implemented for application code.

Hoverer, a single thread is not allocated to a specific client, but the next received packet is handle by the first available thread, even if a previous thread is currently handling the last received packet.

`coap_threadsafe_is_supported()` should be called to check whether libcoap library is built for thread safe before deciding to enable additional threads.

There is nothing stopping you setting up multiple threads in your server application, where each additional thread runs a loop calling `coap_io_process()` until told to exit. The main thread need to continue doing its `coap_io_process()` loop with any other required actions.

Then in your code shutdown, you need to kill off the different threads, and join with the exited thread to stop any de-stabilisation.

If you look at the functions `coap_io_process_configure_threads()` (which makes use of `coap_io_process_worker_thread()` to do the `coap_io_process()` loop) and coap_io_process_remove_threads() in `develop`, you can see how this is done.  (You will need to remove reference to the lock/mutex functions and the `_lkd` suffix if copying the code into application space.)

However, there have been bugs fixed in the threading code since 4.3.5.  In the `release-4.3.5-patches` branch there is a tagged version `v4.3.5a` which has some fixes, and more fixes which are likely to be tagged as `v4.3.5b` in the near future.

In particular, there is a patch labelled `multi-threading: Lock resource structure when calling request handlers` In both `develop `and `release-4.3.5-patches` which fixes a race condition if multiple threads are concurrently doing a PUT/POST to the same resource.

Likewise, there have been a few updates to the libcoap library proxy support.


Hi!

To clarify it's a `Client-CoAP-HTTP-Server`.

I did not know I could call `coap_io_proccess` safely in multiple threads.
I've just read the code you mentioned and some testing.  It worked like a charm.

I followed your suggestions: 
 - Created different threads calling `coap_io_process`. 
 - Used the latest `4.3.5-patches` branch.

Once again thank you for your time and attention. I wish you a nice day.

Thanks for confirming all is working as expected. Closing this for now.

Related to this issue, it would be great to have a proper example or documentation documenting how to properly support multi-threaded servers. I've been playing around both current develop and v4.3.5a and i struggled to make things properly run.
Notably, in develop, `coap_io_process_remove_threads` has a failing assert on line 22 of coap_threadsafe.c caused by the `coap_lock_unlock` macro.

In v4.3.5a, I managed to set up my thread pool by simply launching `coap_io_process` from multiple threads (for the same server context), but I get a really odd behaviour with DTLS servers. Very often, the socket accept() causes a warning coap log to be displayed:
`WARN coap_socket_accept_tcp: accept: Resource temporarily unavailable`

Furthermore, when testing the behaviour with late responses from the DTLS server (so requests that take more than the client timeout to be replied to) I get an unexpected result. The first request,  whose response arrives late, is fine. The second, that should be correctly processed in time, isn't processed by the handler and one or more libcoap log messages of this kind are produced:
`WARN coap_pdu_parse: 0.01: offset 0 option 1 has bad length 16`

I can open a custom ticket for this, but to me it feels like this functionality is FAR from being usable (altough libcoap claims support since 2024) @mrdeep1 

> coap_io_process_remove_threads failing assert

This is down to `coap_io_process_remove_threads()` being called from a user application (which should be allowed.  It was only being called by `coap_io_process_loop_lkd()` exiting (i.e. from within libcoap library). I will fix this shortly so that calling `coap_io_process_remove_threads()` is thread safe from an application.

> WARN coap_socket_accept_tcp: accept: Resource temporarily unavailable

Multiple threads doing a `select()` / `epoll_wait() `call are notified of a new incoming TCP connection request.  The first thread through the` coap_lock_lock()` accepts the connection, the next one(s) will fail and go around and re- `select()` / `epoll_wait()`.  This does not need to be a WARN, but can be a DEBUG.  I will fix this shortly.

`WARN coap_pdu_parse: 0.01: offset 0 option 1 has bad length 16`

This is telling me that for a GET, CoAP Option If-Match (number 1) has a length of 16, whereas RFC7252 says this can only be a maximum of 8 (RFC7252 Table 4 [RFC7252 Section 5.1)](https://datatracker.ietf.org/doc/html/rfc7252#section-5.10).  

Not sure if this is a DTLS threading issue or you have a coding error at this point (i.e. multiple threads using the same buffer).  Some debug logs may help here.

See #1944 for fixes to the first 2 items.

Thank you, i'll try the fixes soon and let you know more about the other issue :)

I can confirm that the warning log doesn't appear anymore, but now I get a unhandled SIGINT when terminating the worker threads with `coap_io_process_remove_threads()`, specifically within a worker thread during `epoll_wait()`.

Here is the full stack trace file:

[core_dump.txt](https://github.com/user-attachments/files/26457184/core_dump.txt)

Here is the call trace from the failing thread:
```
epoll_wait 0x00007ffff6f2a072
coap_io_process_with_fds_lkd coap_io_posix.c:471
coap_io_process_lkd coap_io_posix.c:147
coap_io_process_worker_thread coap_threadsafe.c:135
```

I'm using commit c46c64bc.

When clearing down threads with `coap_io_process_remove_threads()`, `pthread_kill(thread_id, SIGINT) `is called which sends a SIGINT to cause that thread that is blocking on something (in your case `epoll_wait()`) to continue and so exiting to clean things up for that thread.

So, when running `gdb`, the SIGINT will cause the program being debugged to stop. You may want to do gdb's `handle SIGINT pass` command so that when you do a `c`, the SIGINT is passed to the applications SIGIINT handler to close things down.

This unhandled SIGINT happens also without gdb. Am i supposed to use those new thread functions differently?
I'm launching the worker threads from my main thread like this:
```
    // Create context
    context_ = coap_new_context(&listen_addr);
    if (!context_) {
        throw std::runtime_error("Failed to create CoAP context");
    }

    int ret = coap_io_process_configure_threads(context_, config_.num_threads);
    if (ret == 0) {
        coap_free_context(context_);
        throw std::runtime_error("Failed to configure thread pool with " +  std::to_string(config_.num_threads) + " threads");
    }
```

And eventually stopping it from the same main thread like this:
```
 coap_io_process_remove_threads(context_);
```

As per the examples coap-server, you will need to define a SIGINT handler to handle the SIGINTs as the threads close down.

I will look to getting `coap_io_process_configure_threads()` to set up a signal handler behind the scenes if needed.

This should now be fixed in #1950.  Please confirm.

Sorry for the late reply, I can confirm that it now works, thanks! An issue i found while testing this new functionality is another one: when running two or more multi-threaded coap servers at the same time, stopping one with  `coap_io_process_remove_threads()` causes a segmentation fault from the `pthread_kill()` function (invalid thread ID basically). Furthermore, it looks from the code that when calling `coap_io_process_remove_threads(),` all worker threads from each coap server is actually stopped, instead of only the ones from the specified context.

> all worker threads from each coap server is actually stopped

Ah yes, I will get this fixed.

2 separately started processes should have no issue sharing a common library as they have their own copy or the libraries writable data.  However, 2 threads within the same process would have the issues you are seeing where one of the threads is stopped.

#1951 should correctly fix the latter issue.  Please try it out and confirm.

> when running two or more multi-threaded coap servers at the same time

It is unclear as to whether these server as separate processes (even forked processes) of different servers have been set up on different threads.

It's servers running on the same process (and started from the same thread). I tried the new changes and they seem to work fine. I'll try it out more extensively if i can, thank you!

Thanks for the feedback - closing this now.