Reduce time observe notification

Hi everyone, 
i' m trying to use this code for a project at the college. i need to reduce the time between two observe notification sent by the server.

in the coap-server example this time is set to 2 seconds.
i tried to reduce the value COAP_RESOURCE_CHECK_TIME.
it tried to set this value at 1 and seems that it works , but i was unable to go under 1 second.

i need to set it to 30 ms. 
can someone please help me?

The code deliberately limits it once per second in the code
````
      time_t t_now = time(NULL);
      if (time_resource && (t_last != t_now)) {
        t_last = t_now;
        coap_resource_notify_observers(time_resource, NULL);
      }
````
There are some rules in place about limiting the rate of traffic when using UDP, all depending on the determined Round Trip Time (RTT).  33 per sec is very likely to be exceeding the recommendations.

RFC7641 4.5.1 Congestion Control
...
In order not to cause congestion, servers MUST strictly limit the
number of simultaneous outstanding notifications/responses that they
transmit to a given client to NSTART (1 by default; see Section 4.7
of RFC 7252 [RFC7252]).  An outstanding notification/response is 
either a confirmable message for which an acknowledgement has not yet
been received and whose last retransmission attempt has not yet timed
out or a non-confirmable message for which the waiting time that
results from the following rate-limiting rules has not yet elapsed.

The server SHOULD NOT send more than one non-confirmable notification
per round-trip time (RTT) to a client on average.  If the server
cannot maintain an RTT estimate for a client, it SHOULD NOT send more
than one non-confirmable notification every 3 seconds and SHOULD use
an even less aggressive rate when possible (see also Section 3.1.2 of 
RFC 5405 [RFC5405]).

Thank you mrdeep1 for your reply, 
i didn' t know about this limitation rules for the congestion control.
However, i need it just for a test, in a local network, to stress a raspberry pi.
in my network the RTT between my pc and the raspberry is tipically 6 milliseconds, so with 30 ms of delay between two notification i think it will not cause congestion.

so the cause of this limit is the function time(NULL) that  return the time measured in seconds?

With the code I highlighted, coap_resource_notify_observers() will only get called when the return from time(NULL) (which is seconds since the epoch (01 Jan 1970)) changes - which is once per second.

In your specific case (I would not generally recommend it), if the code
````
      time_t t_now = time(NULL);
      if (time_resource && (t_last != t_now)) {
        t_last = t_now;
        coap_resource_notify_observers(time_resource, NULL);
      }
````
was changed to
````
      if (time_resource) {
        coap_resource_notify_observers(time_resource, NULL);
      }
````
and you changed (in 2 places)
````
  wait_ms = COAP_RESOURCE_CHECK_TIME * 1000;
````
to
````
  wait_ms = 30;
````
Then you should be getting what you are looking for.  But don't be surprised if your network crashes due to overload.

thank you again for your help.

i tried with this

```
wait_ms = 30;
  while ( !quit ) {
    int result = coap_run_once( ctx, wait_ms );
    if ( result < 0 ) {
      break;
    } else if ( (unsigned)result < wait_ms ) {
      wait_ms -= result;
    } else {  
      if (time_resource) {
        coap_resource_notify_observers(time_resource, NULL);
      }
      wait_ms = 30 ;
    }
```

but still i get that

```
coap-client coap://127.0.0.1:5683/time?millisec -s 10
2166297414 
2166298355 
2166299346 
2166300347 
2166301353 
2166302354 
2166303356 
2166304328 
2166305353 
2166306350 
2166307339 
2166307339 
```

this is the content of the query

```
if (query != NULL
      && coap_string_equal(query, coap_make_str_const("millisec"))) {
        // output millisec
        gettimeofday(&tv, NULL);


        len = snprintf((char *)buf, sizeof(buf), "%ld \n",(unsigned int)((tv.tv_sec)*1000 +(tv.tv_usec)/1000));
        coap_add_data(response, len, buf);

    }
```

coap_run_once() is returning a lot of zeros, so effectively coap_resource_notify_observers() only gets run about once a second as wait_ms does not get decremented.

If you updated the code to
````
wait_ms = 30;
  while ( !quit ) {
    int result = coap_run_once( ctx, wait_ms );
    if ( result < 0 ) {
      break;
    } else if ( result && (unsigned)result < wait_ms ) {
      wait_ms -= result;
    } else {  
      if (time_resource) {
        static struct timeval tv_last = {0, 0};
        struct timeval tv_now;
        gettimeofday(&tv_now, NULL);
        if (((tv_now.tv_sec - tv_last.tv_sec)*1000 + (tv_now.tv_usec - tv_last.tv_usec)/1000) >= 30) {
          tv_last = tv_now;
          coap_resource_notify_observers(time_resource, NULL);
        }
      }
      wait_ms = 30 ;
    }
````
You should see what you are expecting.

Closing as resolved.