CoAP server sending requests

## Environment

- libcoap version 4.3.0rc2


- Build System:             [Make]
- Operating System:         [Linux|]
- Operating System Version: [20.04 ]

Hi,
i have an urgent question and i want clarification about something, in my understanding the coap client is the only one who can send requests to the server not the other way around, is that right ????
i mean i can subscribe to resources and received their data, but a server can never send request with POST/PUT methods, right ?? 
i really need an answer about this, if it is possible( i hardly think it is ), what's the right approach to to this.

i know this is not the place to ask such a question, but you are the only ones i know to understand the coap protocol , i even asked at stack overflow coap related questions, but didn't receive any responses,

thanks!!

[RFC7252 Section 2](https://datatracker.ietf.org/doc/html/rfc7252#section-2) allows for this to take place - and is used for the DOTS signal protocol RFC8782 when using common CoAP session information for doing the [heartbeats](https://www.rfc-editor.org/rfc/rfc8782.html#section-4.7) initiated by either peer.

Essentially either peer can take on the Client role and Server role as appropriate.  The initial CoAP Session needs to be established by only one of the peers. It is then down to a higher lever protocol to work out which ends should be doing the Request.  I would recommend that the initial Server does a `coap_session_reference() `once on receipt of a new session and then at session close down a` coap_session_release()` so that the CoAP session remains in existence for the duration of whatever you are doing (the initial Client does this for you behind the scenes).

This however is unusual and you are likely to run into errors when things are not coded correctly, and so is not recommended.

What I suspect you are looking for is [Observe](https://datatracker.ietf.org/doc/html/rfc7641 where additional responses can be sent from the server to the client  at any time.

so it is possible, and no, observe is not the solution for me, because as a server i need to send json file to the client so i can parse them.
about the 

>It is then down to a higher lever protocol to work out which ends should be doing the Request

what do you mean? in this case and after establishing a new session, i should be creating the `pdu` and send it from the server side?

As a side note on where to ask general questions about CoAP: For libcoap, there is the [mailing list](https://lists.sourceforge.net/lists/listinfo/libcoap-developers) where you reach the libcoap developers.

I guess then that you are talking of some sort of 'call-home' concept where a CoAP agent initiates a connection to its peer and the peer is in effect the CoAP Client and the local agent is in effect a CoAP Server.

So, in the local agent you need set up all the server handling request handlers, define the resource that it will accept PUT/POST for etc. (so it can act as a server)and then initiate the new connection to the peer using [coap_endpoint_client(3)](https://libcoap.net/doc/reference/develop/man_coap_endpoint_client.html).  On the peer, you need to set up response handlers etc. so that it can act as a client, but need to set up the endpoint as a server as per [coap_endpoint_server(3)](https://libcoap.net/doc/reference/develop/man_coap_endpoint_server.html).

I still question as to why [Observe](https://libcoap.net/doc/reference/develop/man_coap_endpoint_server.html) cannot be used (and is more conventional).  The Client makes a GET to a defined resource on the Server with 'Observe' option set to register.  The Server sends back the current resource representation.  When the resource representation changes, the Server can then trigger with coap_resource_notify_observers() to send (in your case some JSON data) to the Client who can then process it and do whatever is appropriate.

first i want to thank you so much for helping me out and giving instructions,

@mrdeep1 , am still working with your examples `coap-client `and `coap-server ` i understand what you said and made the local agent (`coap-server`) the one to open a session ( ofc i removed the creation of a session from the peer) and the peer ( `coap-client` ) as the endpoint.

 with that being done, i suppose that constructing a coap message should be on the local agent right? with that it should work?

as for using Observe,  i am gonna  be sending different JSON data with different objects, not a single one, so observe isn't gonna cut it.

Following role reversal after the initial connection, the coap-client (the server for the initial connection) will need to know that it has to build a request PDU , send it and analyze the response as appropriate.  The coap-client then sends another request PDU at an appropriate point, processes that response and so on.

Again with Observe, the coap-server can send as many sets of different data it wants, when it wants, as unsolicited responses.   The coap-client then just analyzes the data in an unsolicited response and handles it as a appropriate - no different to what you are trying to do with your unsolicited POST/PUT.

i will try to talk with my superiors about the observe functionalities.
for now, i tried doing what you said this is what a did on the client side :
  ```
coap_endpoint_t *endpoint = NULL;
  
if (resolve_address("localhost", &dst) < 0) {
    coap_log(LOG_CRIT, "failed to resolve address\n");

  }
  ctx = coap_new_context(NULL);

endpoint = coap_new_endpoint(ctx, &dst, COAP_PROTO_UDP);

  coap_register_response_handler(ctx, message_handler);

coap_io_process(ctx, COAP_IO_WAIT);

  coap_free_context(ctx);
  coap_cleanup();
return 0;
```
on the server side:
```
   ctx = coap_new_context(NULL);
  init_resources(ctx);
  coap_context_set_block_mode(ctx, block_mode);
  
       /*  create a new session*/

  struct in_addr ip_address;

  coap_context_set_block_mode(ctx,
                              COAP_BLOCK_USE_LIBCOAP | COAP_BLOCK_SINGLE_BODY);

coap_address_t server;
  coap_address_init(&server);
  server.addr.sa.sa_family = AF_INET;
  server.addr.sin.sin_addr = ip_address;
  server.addr.sin.sin_port = htons (5683);

  coap_session_t *session = coap_new_client_session(ctx, NULL, &server, COAP_PROTO_UDP);
  if (!session) {
    coap_free_context(ctx);
    
  }
  
  /* construct CoAP message */
  pdu = coap_pdu_init(COAP_MESSAGE_CON,
                      COAP_REQUEST_PUT,
                      0 /* message id */,
                      coap_session_max_pdu_size(session));
  if (!pdu) {
    coap_log( LOG_EMERG, "cannot create PDU\n" );

  }

  /* add a Uri-Path option */
  coap_add_option(pdu, COAP_OPTION_URI_PATH, 4,
                  "time");
  coap_show_pdu(LOG_WARNING, pdu);
  /* and send the PDU */
  coap_send(session, pdu);


```

after testing the server opens a session and strats sending the pdu, i think this is a success right ??
but on the client side there is no response,  am sure it has something to do with the receive function, i tried printing the `databuf`  from the `message_handler()` nothing is shown.

Your coding is confused as to what is to be the client for initiating the connection and what is the client for sending the PDU.

The `connection-initiating-client` executable should not have the `pdu-sending-client `code in your role-reversal scenario.  Think who is initiating the connection, and who is sending the PUT PDU.  Please re-read my previous comments in this thread on this.

Separately, `coap_io_process(ctx, COAP_IO_WAIT); `needs to be in a loop otherwise things will 'go away' after receipt of the first packet.

i dont't get it, if the server initiating the connection and sending the PUT PDU how is the client supposed to respond, like i said i want the server to send data with PUT method. 
on a second thought, i opened a session on the server side, and the PUT PDU on the client side, also no response, actually there is no communication between the two endpoints. i even tried using the `get_context()` used in the` coap-server.c` in the client but no response.


If a CoAP agent initiates a connection to a peer and then sends a PUT request to that peer, then that agent is acting in a Client role for both the connection imitation and for sending the PUT request.  In neither case is it a Server role for the connection initiation or the PUT request send.

The use of the terms Client and Server is confusing here - as said before `This however is unusual and you are likely to run into errors when things are not coded correctly, and so is not recommended`, if I understand what you are trying to do as posed in your original question.

You have to decide which application is the `Connection-Setup-Client` and which application is the `Send-This-PDU-As-Client`.

The `Connection-Setup-Client` initiates the connection only to the `Connection-Setup-Server` in the same way that example `coap-client` does this to example `coap-server`.  Then once the connection is received and established, `Send-This-PDU-As-Client` sends the CoAP PUT request to `Receive-This-PDU-As-Server` - in your case you want` coap-server` to send the PUT request to the `coap-client`.  So, now `coap-server` is acting as `Send-This-PDU-As-Client` and needs to have the appropriate subset of client type code to be able to send a PUT request.

i understand that much, but what is wrong with the code i posted earlier you said it's confused of what is client for initiating connection and sending req? but i did opened the connection and tried to send the req from the server.

lets say that i did manage to send a PUT req to the coap-client, where is it gonna be stored ? in the `databuf` of `message_handler()`? 

In your posted code (trimmed)
```
on the server side:

   ctx = coap_new_context(NULL);
  init_resources(ctx);
....
````
This is "Connection-Setup-Client" code  
````
  coap_session_t *session = coap_new_client_session(ctx, NULL, &server, COAP_PROTO_UDP);
  if (!session) {
    coap_free_context(ctx);
....
````
And then you have (still in "server") Send-This-PDU-As-Client code
````
  /* construct CoAP message */
  pdu = coap_pdu_init(COAP_MESSAGE_CON,
                      COAP_REQUEST_PUT,
                      0 /* message id */,
                      coap_session_max_pdu_size(session));
  if (!pdu) {
    coap_log( LOG_EMERG, "cannot create PDU\n" );
````

So, your "Server" code is doing the client role for initiating the connection and the client role for sending the PUT Request PDU.  Which is exactly what the standard coap-client does.  Hence confusion.

`message_handler()` is client role code for responses, so will not get called in server role code when handling the receipt of the PUT request (standard server role code in coap-server is `hnd_put_time()`).

The server role code for handling the incoming PDU request for a specific resource  (`time `in your server provided code) will invoke a defined request handler in the same way that the non-modified coap-server code does presently.

i am confused, if the server doesn't initiate the connection and sends the request, then this role-reverse thing, how is it supposed to happen, 
you said 
> in your case you want` coap-server` to send the PUT request to the `coap-client`. So, now `coap-server` is acting as `Send-This-PDU-As-Client` and needs to have the appropriate subset of client type code to be able to send a PUT request.

and that's exactly what i am trying to do.
in the previous code i did some dumb mistakes. this the code i am  using now : 
```
client side : 
 coap_startup();
coap_endpoint_t *endpoint;
    coap_address_t listen_addr;
    coap_context_t *ctx = coap_new_context(NULL);
    int coap_fd;
    fd_set m_readfds;
    int nfds = 0;
    coap_fd = coap_context_get_coap_fd(ctx);
    if (coap_fd != -1) {
      /* if coap_fd is -1, then epoll is not supported within libcoap */
      FD_ZERO(&m_readfds);
      FD_SET(coap_fd, &m_readfds);
      nfds = coap_fd + 1;
    }
coap_context_set_keepalive(ctx, ping_seconds);
  coap_context_set_block_mode(ctx, block_mode);

  coap_address_init(&listen_addr);
    listen_addr.addr.sa.sa_family = AF_INET;
    listen_addr.addr.sin.sin_port = htons (5683);

    endpoint = coap_new_endpoint(ctx, &listen_addr, COAP_PROTO_UDP);
    if (!endpoint) {
      coap_free_context(ctx);

    }
coap_register_response_handler(ctx, message_handler);
while ( !quit ) {
      int result;

      if (coap_fd != -1) {
        /*
         * Using epoll.  It is more usual to call coap_io_process() with wait_ms
         * (as in the non-epoll branch), but doing it this way gives the
         * flexibility of potentially working with other file descriptors that
         * are not a part of libcoap.
         */
        fd_set readfds = m_readfds;
        struct timeval tv;
        coap_tick_t begin, end;

        coap_ticks(&begin);

        tv.tv_sec = wait_ms / 1000;
        tv.tv_usec = (wait_ms % 1000) * 1000;
        /* Wait until any i/o takes place or timeout */
        result = select (nfds, &readfds, NULL, NULL, &tv);
        if (result == -1) {
          if (errno != EAGAIN) {
            coap_log(LOG_DEBUG, "select: %s (%d)\n", coap_socket_strerror(), errno);
            break;
          }
        }
        if (result > 0) {
          if (FD_ISSET(coap_fd, &readfds)) {
            result = coap_io_process(ctx, COAP_IO_NO_WAIT);
          }
        }
        if (result >= 0) {
          coap_ticks(&end);
          /* Track the overall time spent in select() and coap_io_process() */
          result = (int)(end - begin);
        }
      }
      else {
        /*
         * epoll is not supported within libcoap
         *
         * result is time spent in coap_io_process()
         */
        result = coap_io_process( ctx, wait_ms );
      }
      if ( result < 0 ) {
        break;
      } else if ( result && (unsigned)result < wait_ms ) {
        /* decrement if there is a result wait time returned */
        wait_ms -= result;
      } else {
        /*
         * result == 0, or result >= wait_ms
         * (wait_ms could have decremented to a small value, below
         * the granularity of the timer in coap_io_process() and hence
         * result == 0)
         */
        wait_ms = COAP_RESOURCE_CHECK_TIME * 1000;
      }
    }
 // fprintf (stderr,"rawbuffer %s",rawbuffer);
  result = 0;
 // coap_disconnect(ctx,session);
 return result;
```
```
server side : 
  ctx = coap_new_context(NULL);
  init_resources(ctx);
  coap_context_set_block_mode(ctx, block_mode);
  
       /*  create a new session*/

  struct in_addr ip_address ;

  coap_context_set_block_mode(ctx,
                              COAP_BLOCK_USE_LIBCOAP | COAP_BLOCK_SINGLE_BODY);

coap_address_t server;
  coap_address_init(&server);
  server.addr.sa.sa_family = AF_INET;
  server.addr.sin.sin_addr = ip_address;
  server.addr.sin.sin_port = htons (5683);

  coap_session_t *session = coap_new_client_session(ctx, NULL, &server, COAP_PROTO_UDP);
  if (!session) {
    coap_free_context(ctx);  
  }
    coap_pdu_t *pdu = coap_pdu_init(COAP_MESSAGE_CON,
                      COAP_REQUEST_GET,
					  0, /* message id */
                      coap_session_max_pdu_size(session));
  coap_add_data(pdu, 4,
                    (const uint8_t *)("time"));
 
  coap_send(session, pdu);
```
as you can see i am trying to send a data called `time` ( not the resource ), 
how can the client respond to this request.

If a process initiates a connection, then it is acting as a `client `to initiate the connection.  If a process sends a CoAP PDU request, then it is acting as a `client` to send the CoAP PDU request.  The` initiate connection` and` send CoAP PDU request` are two completely different sets of functionality and do not have to be done in the same application (but conventionally are in the same application).

The provided `coap-client` application does both `initiate connection` and `send CoAP PDU request` - and there is absolutely no point in moving both sets of code into` coap-server` which is what you are doing.  

As you are trying to set up a call-home type scenario as I understand it, decide which application (coap-client or coap-server)  you want to do send CoAP PDU request, and then ONLY move the 'initiate connection' code into the other application.  

I again repeat - the way forward for you is to use Observe so then the server can send unsolicited data any time it wants to the client for processing as appropriate.



to avoid all of these confusions, we decided to swap client and server, that way the client will be sending our json data and the server will be parsing them,
 i have a question about parsing data on the server side, if i use post to create or update a resource (for now, am updating the `example_data` resource with a json file) parsing should be done on that same resource right? 
the update of the resource is successful but parsing is not working, any idea why?

> to avoid all of these confusions, we decided to swap client and server, that way the client will be sending our json data and the server will be parsing them,

I think you are going in the right direction here.

If you are using `hnd_put_example_data()` as a model, remember that the data received (using `coap_get_data_large()`) and processed in that function is only available before the function returns, unless it is saved in its entirety in a data location external to the function.  So, `data_so_far` contains the raw data (in `data_so_far->length` and `data_so_far->s`) and can be processed by an appropriate parsing function only within `hnd_put_example_data()`.  I would make sure that `COAP_BLOCK_SINGLE_BODY` is set  when you call `coap_context_set_block_mode()` to make things simpler within your request handler.


much appreciated, everything looks fine now and i managed to parse the data. THANK YOU!!