Does libcoap support server discovery?

Is it possible with libcaop to send a broadcast message to discover the existing coap servers?
I noticed that the standard defines something like “All CoAP Nodes” address but I'm not sure whether ibcoap supports this.
If so, is there an example available that I could use as a starting point? 
Or does the example coap-client aplication supports this?

Thanks in advance,

Marc (playing around with the Ikea Tradfri hub)

libcoap support sending CoAP PDUs via IP multicast as described in [Section 8 of RFC 7252](https://tools.ietf.org/html/rfc7252#section-8). For example:

```
coap-client -v6 coap://[ff02::fd]/.well-known/core
```

Thanks for your quick reply!
I assume the IPv4 equivalent is

```
coap-client coap://224.0.1.187/.well-known/core
```

Unfortunately, the Ikea Tradfri hub does not seem to react upon this request.   
I know this is probably beyond libcoap but suggestions are appreciated!

Correct, that is the IPv4 "All CoAP nodes" multicast address.

For the IKEA Trådfri hub, there is a lot of information (include use with libcoap) referenced in [bwssytems/ha-bridge/issues/570](https://github.com/bwssytems/ha-bridge/issues/570). (Note that some of this is a little outdated. For example, you can now just use the libcoap develop branch when building with DTLS support.)

Thanks for pointing me to this thread.  
Note that I'm able to control my bulbs using coap-client (on/off, dim, color temperature, ...).
But I needed the IP address of the hub/gateway to get started, while the IKEA Android app does not seem to need this so I guess they were using an initial broadcast message to find the available hubs/gateways.
The thread you pointed me to does not seem to contain much on discovery except 

> Ikea Trådfri Android application appears to be using multicast (224.0.0.1) to find the Ikea Trådfri Gateway, 

So I still wonder how to find the available hubs/gateways on my local network.

Apart from an `nmap`scan, I suppose. I presume that the Trådfri hub does not support discovery as it is supposed to be used by their application only. Looking at my device, it appears that it does not even respond to `GET .well-known/core` on port 5683.

I'll have a look at `nmap`, didn't know this command

I did found out that the hub responds to 

```
ping 224.0.0.1
```
Afterwards, I could iterate over all respondents and try to check whether they are a Tradfri hub or not.  Right now it's not clear yet how. 
As you said, a simple `coap-client coap://<ip>/.well-known/core` triggers no response.  
I could ask for the key (on the back of the hub) and try to authenticate against all respondents but that doesn't seem very elegant.

I guess this can be closed since this is not a libcoap issue