Tracking subscribe responses when receiving block transfers (MTU < CoAP response)

I have configured both server and client for: 	coap_context_set_block_mode(ctx, COAP_BLOCK_USE_LIBCOAP | COAP_BLOCK_SINGLE_BODY). My client subscribes to observe several server resources by requesting each, one at a time, using the same response handler for all subscriptions. During the subscription phase the client attempts to track subscription responses by matching the MID (message id) of the request with that of the response. If the MID of the response matches the pending subscription request the subscription logic advances to subscribe to the next resource, if the MID does not match the response is processed as "resource" update.
This works well enough when the MTU for the response is large enough to contain the response. However, if the response is split up using block transfer the mid of the final block does not match the mid of the request, since the server increments mid per PDU block, and this final MID is what is available to the response handler call back.

Is there a way to check the mid of the first PDU of the block response transmission from the response handler, maybe a companion interface to coap_get_large data or something? Is there a better way to track responses to observe requests?

@mikefoxTB As you are seeing, it is unsafe to match on the MID.  [RFC7252 Section 5.3 Request/Response](https://www.rfc-editor.org/rfc/rfc7252.html#section-5.3) states that the token is to be used.  In particular [RFC7252 Section 5.3.2 Request/Response Matching Rules](https://www.rfc-editor.org/rfc/rfc7252.html#section-5.3.2)
````
   2.  In a piggybacked response, the Message ID of the Confirmable
       request and the Acknowledgement MUST match, and the tokens of the
       response and original request MUST match.  In a separate
       response, just the tokens of the response and original request
       MUST match.
````
So, a token match will then allow you to move on to the next subscribe request.

However, unsolicited responses (i.e. from an observe update) will have a matching token against one of the subscription requests, and the update will need to get steered appropriately in the response handler. For this, you will need to maintain a list of all the subscription request's tokens used so far.

Really appreciate the guidance.
Thank you!

Using tokens, it seems daunting have unique token per response call back. Instead since the application side of the CoAP server "knows" it is replying to an observe request it can add a flag to the response data indicating this info is an observe response and not a resource update. 

I would expect the number of tokens that need to be tracked for the response callback to be the same as the number of subscription (observe) requests initiated (and not yet cancelled), plus the the number of non-subscription requests that are still pending an expected response.

When the client gets an unsolicited response as a result of the server noting a resource that has been "observed" has a resource value changed, the key to what resource has been "observed" is the token - hence why these tokens need to be tracked.  In these unsolicited responses, the Observe option will have been set by the libcoap server logic as per [RFC7641 Section 4.2 Notifications](https://datatracker.ietf.org/doc/html/rfc7641#section-4.2) which should be your indicator of response type.

Once a non-subscription client initiated request has had a response, there is no need to keep the token.