No congestion control for notifications

From what I see, a CoAP server implemented with libCoAP will not limit the number of notifications sent to an observer (no congestion control).

https://tools.ietf.org/html/rfc7641#section-4.5

> In order not to cause congestion, servers MUST strictly limit the   number of simultaneous outstanding notifications/responses that they transmit to a given client to NSTART (1 by default; see Section 4.7 of RFC 7252 [RFC7252]).  An outstanding notification/response is either a confirmable message for which an acknowledgement has not yet been received and whose last retransmission attempt has not yet timed out or a non-confirmable message for which the waiting time that results from the following rate-limiting rules has not yet elapsed.