Hardening Server against resends of CON messages

**Is your feature request related to a problem? Please describe.**

Add Option to not call the handlers for each resent UDP CON message received by the server. When a handler needs more time to process a request by a client, we see that the packet is resent with the same message ID and content by the client as expected for UDP CON messages. Unfortunately now, after we answer the first request, the resent is treated as a normal request although it has the same message ID and we process that request as well.

I'm uncertain this behavior would be fixed by adding tokens, currently the token size of the request is 0. But I also did not find a way to enforce a certain token size on the server size. 

**Describe the solution you would like**

Don't call the handlers for each received retransmission message.

**Describe alternatives you have considered**

Currently the only way to do it would be to look at the request in each handler and before the data is even processed, get the message ID and if it is the same as last time, send back some error code. As far as I understood though, it would be better to use the token, since the message ID is guessable.

**Additional context**

To give context:

We frequently encounter, that the server needs a lot of time to answer a client CON request. Then the client does the retransmissions which will then again be handled by the handlers after the original request was answered, since the server doesn't detect, that those are just the retransmission messages.

This reminds me of https://github.com/obgm/libcoap/pull/1307, though I'm not 100% sure. That PR introduced ACKing (or RSTing) CON messages even if their message id has already been observed. This was needed in cases when the first ACK (RST) got lost and wasn't received by the receiver. Note, however, that outside of responding with an ACK/RST, duplicate messages are ignored (no handlers are called).

In general, there should be the use of different tokens for each different message request/response.  This is easily supported by using the seed function `coap_session_init_token() `and then using `coap_session_new_token()` and `coap_add_token()` for each new request.

If it is known that the generation of a response by the server is going to take longer than the CoAP retry transmit timeout, then you should be using a response [(Separate](https://datatracker.ietf.org/doc/html/rfc7252#section-5.2.2)) response, not a [Piggybacked](https://datatracker.ietf.org/doc/html/rfc7252#section-5.2.1) response.  For libcoap support, see [coap_async(3)](https://libcoap.net/doc/reference/develop/man_coap_async.html) for getting a Separate response sent.

For your particular case, the challenge is that in the general case if a (ACK) response is "lost", the client needs to resend the (CON) request so that the (ACK) response is resent (hence the repeat call into the request handler), or (no current support in libcoap) the cached response gets retransmitted. As you have delays getting the response, it is better to use Separate response.

Thanks for your suggestions, highly appreciated.
Probably a separate response would be the cleanest solution.
I also considered tokens, but I did not find a proper way of enforcing them on the server side, since the client dictates the token right? The only way would be to check the token size and reject requests with a token smaller than what we expect. (The clients come from different partners in our research project, that's why I'm asking if I could enforce it.)

Anyway I consider the feature request answered, that in principle for that use-case the separate response feature must be used.

For CoAP tokens, the server must treat them as an Opaque item.  [RFC7272 Section 5.3.1 Token](https://datatracker.ietf.org/doc/html/rfc7252#section-5.3.1) states
````
An endpoint receiving a token it did not generate MUST treat the
token as opaque and make no assumptions about its content or
structure.
````
so the server is not able to enforce anything here.

Thanks for your support. I'll close the issue