Question: Two subscriptions to a single server showing some strange behavior

## Environment

- libcoap version (run ``git describe --tags`` to find it): 4.3.0

- Build System:             [CMake]
- Operating System:         [Linux]
- Operating System Version: [ ]
- Hosted Environment:       [None]

## Problem Description

I am trying to observe 1 resources twice(just for test purpose). I am creating two diferent coap sessions for the two observe requests. Here I am using OSCORE messages, so these are just two CoAP messages for libcoap and internal observe mechanism of libcoap does not play a role here.

### How I do it:
I send an observe message, keep the session alive to receive the incoming events from server till the observe lifetime. After lifetime expires, I kill the session, create another session with the same token and send another observe message, and this process repeats.

### I am facing the following problem:
With a single observe request this works and I can see the new observe messages coming out cleanly from the Client application at an interval of lifetime value. I can also see the notification messages from server to client.

When I do a second observe request, after a certain time, I see some retries/repeating messages from libcoap for the second observe request. These messages have invalid sequence number, which eventually result in "Unauthorised" responses.

These messages can be seen in wireshark logs 2 and 3.

### My Question:
What are these repeating messages and how can I stop them. Am I doing something wrong here ?

I am using libcoap version 4.3.0. 

### Expected Behavior

// Describe what you are expecting.

### Actual Behavior

// Describe what you are seeing.

### Steps to reproduce

## Debug Logs

Wireshark [log](![wireshark-1](https://user-images.githubusercontent.com/26736671/147944029-fe81cbaa-8573-430d-bba0-2a40dd4f3726.PNG)
![wireshark-2](https://user-images.githubusercontent.com/26736671/147944040-d303b433-5b72-4c91-9b14-2b62af409454.PNG)
![wireshark-3](https://user-images.githubusercontent.com/26736671/147944044-751e1f73-c1f8-4683-8263-29e8fd1bddd5.PNG)


### The two subscription logs are highlighted below from the main log:

**Subscription ONE**
```
Enter URI to subscribe(e.g. /p/rts/temproom): /p/rts/temproom

 Executing Sync Subscribe: /p/rts/temproomJan 03 15:11:20.929 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : new outgoing session
Jan 03 15:11:20.929 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session max_retransmit set to 4
Jan 03 15:11:20.929 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_random_factor set to 1.500
Jan 03 15:11:20.929 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session max_retransmit set to 4
Jan 03 15:11:20.929 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_timeout set to 20.000
Jan 03 15:11:20.929 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : sent 54 bytes
v:1 t:CON c:POST i:4463 {b1cd3c04c579400c} [ 9:\x09\x00\x07\x09 ] :: binary data length 36
<<11c631039f7737846c0af482f1d3e83130f253346e74948a33349a0f11be52a6f2bb4be6>>
<<. . 1 . . w 7 . l . . . . . . 1 0 . S 4 n t . . 3 4 . . . . R . . . K . >>
Jan 03 15:11:20.929 DEBG ** [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x4463: added to retransmit queue (23438ms)
Jan 03 15:11:20.931 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 36 bytes
v:1 t:ACK c:2.05 i:4463 {b1cd3c04c579400c} [ 9: ] :: ''\xB7\xB2\xF5"2=\xF9\x14\x1E\xE15\xF5S\xA8C\xA1\x90\xFEc\xD9l'
Jan 03 15:11:20.931 DEBG ** [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x4463: removed1

 SubscriptionsManager: Save Subscription Id : 1

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 


 Subscription API status: Ok
 Subscription State: 0
 >> Subscription status = Ok, ID = 1, state = 0, TID = 0 

```

**Subscription TWO:**

```
Enter URI to subscribe(e.g. /p/rts/temproom): Jan 03 15:11:24.935 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 41 bytes
v:1 t:ACK c:2.05 i:f5c0 {b1cd3c04c579400c} [ 9:\x09\x04\x07\x09 ] :: binary data length 23
<<e3f32a49fdd71adf09c02be5e08029af44a74841c35369>>
<<. . * I . . . . . . + . . . ) . D . H A . S i >>

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 

/p/rts/temproomJan 03 15:11:25.936 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 41 bytes
v:1 t:ACK c:2.05 i:f5c2 {b1cd3c04c579400c} [ 9:\x09\x05\x07\x09 ] :: binary data length 23
<<8e85f6635d4844f3aa5a1891c64736850c1f899671ff9f>>
<<. . . c ] H D . . Z . . . G 6 . . . . . q . . >>

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 



 Executing Sync Subscribe: /p/rts/temproomJan 03 15:11:26.139 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : new outgoing session
Jan 03 15:11:26.139 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session max_retransmit set to 4
Jan 03 15:11:26.139 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_random_factor set to 1.500
Jan 03 15:11:26.139 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session max_retransmit set to 4
Jan 03 15:11:26.139 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_timeout set to 20.000
Jan 03 15:11:26.139 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : sent 54 bytes
v:1 t:CON c:POST i:3e64 {f3695b086d327502} [ 9:\x09\x01\x07\x09 ] :: '!\x93M\xF7\xD6z8\xF0\xE4\\xB4\xAA\x11>\xF6\xD0\x87\xC2\xCB\xA5\xBA0e!f\xAD\x0D\xBF"_\x90\xCA\xEF\x0D\xB3}'
Jan 03 15:11:26.139 DEBG ** [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x3e64: added to retransmit queue (25625ms)
Jan 03 15:11:26.140 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 37 bytes
v:1 t:ACK c:2.05 i:f5c3 {f3695b086d327502} [ 9: ] :: binary data length 23
<<fbc15f5adc3eb6ab8e79078020c0eb5be470fd7b3a3fda>>
<<. . _ Z . > . . . y . .   . . [ . p . { : ? . >>

 SubscriptionsManager: Save Subscription Id : 4

 >> Notification status = Ok, ID = 4, max-age = 1, VAL = 28.7500 


 Subscription API status: Ok
 Subscription State: 0
 >> Subscription status = Ok, ID = 4, state = 0, TID = 0 

```

## Other items if possible

- [ ] Does what you are trying to do work under any configuration.  Detail what
works.
- [ ] Network configuration that is not straightforward. Detail any networking
that may have NAT or firewalls that might affect what is going on.


The **main** issue is with Subscription 2.
````
v:1 t:CON c:POST i:3e64 {f3695b086d327502} [ 9:\x09\x01\x07\x09 ] :: '!\x93M\xF7\xD6z8\xF0\xE4\\xB4\xAA\x11>\xF6\xD0\x87\xC2\xCB\xA5\xBA0e!f\xAD\x0D\xBF"_\x90\xCA\xEF\x0D\xB3}'
Jan 03 15:11:26.139 DEBG ** [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x3e64: added to retransmit queue (25625ms)
Jan 03 15:11:26.140 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 37 bytes
v:1 t:ACK c:2.05 i:f5c3 {f3695b086d327502} [ 9: ] :: binary data length 23
````
The CON request mid= MUST match the response ACK mid= for the agent to stop re-transmitting the request (token matching is for a higher layer).  So, here, the request mid=0x3e64 (as also seen in the i:3e64 in the POST command.  The response has mid i:f5c3 (i.e 0xf5c3) which is not a match.  See [Request/Response Matching Rules](https://datatracker.ietf.org/doc/html/rfc7252#section-5.3.2).

Looking at Subscription 1, you can see the mid=0x4463 which matches.

The **second** issue is:-

Note that any unsolicited subscription response (i.e. not the response for the initiating GET) can optionally be sent as a CON and tke client must ACK the response with the correct mid=.  It appears that your code is just sending back an ACK response for every unsolicited subscription response which is NOT valid.

I'm not sure how you are updating your develop branch with the latest code from gihub within your code clone. Your unedited post indicates you initially installed 4.3.0rc3 and then have pulled code taking it to the 41st patch based on 4.3.0rc3.  Assuming that upstream is how you refer to the obgm code version, then you need to do a "`git checkout develop ; git pull upstream`" to get in the latest branch definitions.

I'm working on having OSCORE fully supported within libcoap (see PR #764) which I am shortly updating with support for Appendix B.2 (and PR also needs a rebase to align it with the current develop branch) if you are interested.

Thanks for a very fast response again. I did not notice the MID part for the second observe request. I will correct it and do a re-test. Thanks again. 

We are only using a released version of libcoap and version is 4.3.0 as of now. I cant use the latest always because of product mandates. I will check the oscore integration though as you have mentioned. 

You should also fix the second issue mentioned - see [Transmission](https://datatracker.ietf.org/doc/html/rfc7641#section-4.5) in your higher level code - the notifications are not to be sent as an ACK message.  If you dont care about the client getting them, then you can use NON.

I assume that you are following [Observe](https://datatracker.ietf.org/doc/html/rfc8613#section-4.1.3.5) where a new Partial IV is being sent in the unsolicited response.  I would also double-check as to whether you should be using FETCH instead of POST

Understood about working with released versions only.

I checked by correcting the message ID, still I am getting some retries **(for Token: ed1f452be3643d28)**. Debug log is given below:

```
Enter URI to subscribe(e.g. /p/rts/temproom): a

 Executing Sync Subscribe: aJan 04 08:02:36.055 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : new outgoing session
Jan 04 08:02:36.055 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session max_retransmit set to 4
Jan 04 08:02:36.055 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_random_factor set to 1.500
Jan 04 08:02:36.055 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session max_retransmit set to 4
Jan 04 08:02:36.055 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_timeout set to 20.000
Jan 04 08:02:36.055 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : sent 54 bytes
v:1 t:CON c:POST i:5414 {191ddd4cd8b3596a} [ 9:\x09\x00\x07\x09 ] :: binary data length 36
<<11c631039f7737846c0af482f1d3e83130f253346e74948a33349a0f11be52a6f2bb4be6>>
<<. . 1 . . w 7 . l . . . . . . 1 0 . S 4 n t . . 3 4 . . . . R . . . K . >>
Jan 04 08:02:36.055 DEBG ** [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x5414: added to retransmit queue (21250ms)
Jan 04 08:02:36.056 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 36 bytes
v:1 t:ACK c:2.05 i:5414 {191ddd4cd8b3596a} [ 9: ] :: ''\xB7\xB2\xF5"2=\xF9\x14\x1E\xE15\xF5S\xA8C\xA1\x90\xFEc\xD9l'
Jan 04 08:02:36.056 DEBG ** [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x5414: removed1

 SubscriptionsManager: Save Subscription Id : 1

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 


 Subscription API status: Ok
 Subscription State: 0
 >> Subscription status = Ok, ID = 1, state = 0, TID = 0 


>>> PRESS '0' TO RECALL MENU OPTIONS <<<
Jan 04 08:02:37.057 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 41 bytes
v:1 t:ACK c:2.05 i:b998 {191ddd4cd8b3596a} [ 9:\x09\x01\x07\x09 ] :: binary data length 23
<<fbc15f5adc3eb6ab8e79078020c0eb5be470fd7b3a3fda>>
<<. . _ Z . > . . . y . .   . . [ . p . { : ? . >>

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 

Jan 04 08:02:38.058 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 41 bytes
v:1 t:ACK c:2.05 i:b99a {191ddd4cd8b3596a} [ 9:\x09\x02\x07\x09 ] :: binary data length 23
<<c5f6a664da673d521c9d0640f8d24f3da877cc1399f6bb>>
<<. . . d . g = R . . . @ . . O = . w . . . . . >>

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 

Jan 04 08:02:39.058 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 41 bytes
v:1 t:ACK c:2.05 i:b99c {191ddd4cd8b3596a} [ 9:\x09\x03\x07\x09 ] :: binary data length 23
<<c052e14d2f9271f7d5c9f51aafb92d82143cfdc49f42a6>>
<<. R . M / . q . . . . . . . - . . < . . . B . >>

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 

8Jan 04 08:02:40.059 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 41 bytes
v:1 t:ACK c:2.05 i:b99e {191ddd4cd8b3596a} [ 9:\x09\x04\x07\x09 ] :: binary data length 23
<<e3f32a49fdd71adf09c02be5e08029af44a74841c35369>>
<<. . * I . . . . . . + . . . ) . D . H A . S i >>

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 



 Enter URI to subscribe(e.g. /p/rts/temproom): a

 Executing Sync Subscribe: aJan 04 08:02:40.663 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : new outgoing session
Jan 04 08:02:40.663 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session max_retransmit set to 4
Jan 04 08:02:40.663 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_random_factor set to 1.500
Jan 04 08:02:40.663 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session max_retransmit set to 4
Jan 04 08:02:40.663 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_timeout set to 20.000
Jan 04 08:02:40.663 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : sent 54 bytes
v:1 t:CON c:POST i:daa0 {ed1f452be3643d28} [ 9:\x09\x01\x07\x09 ] :: '!\x93M\xF7\xD6z8\xF0\xE4\\xB4\xAA\x11>\xF6\xD0\x87\xC2\xCB\xA5\xBA0e!f\xAD\x0D\xBF"_\x90\xCA\xEF\x0D\xB3}'
Jan 04 08:02:40.664 DEBG ** [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0xdaa0: added to retransmit queue (25938ms)
Jan 04 08:02:40.664 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 36 bytes
v:1 t:ACK c:2.05 i:daa0 {ed1f452be3643d28} [ 9: ] :: binary data length 22
<<fbc03f09cf1e4866846f1e8225c023bacf61bfefbf26>>
<<. . ? . . . H f . o . . % . # . . a . . . & >>

 SubscriptionsManager: Save Subscription Id : 4

 >> Notification status = Ok, ID = 4, max-age = 1, VAL = 28.7500 


 Subscription API status: Ok
 Subscription State: 0
 >> Subscription status = Ok, ID = 4, state = 0, TID = 0 


>>> PRESS '0' TO RECALL MENU OPTIONS <<<
Jan 04 08:02:41.059 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 41 bytes
v:1 t:ACK c:2.05 i:b9a0 {191ddd4cd8b3596a} [ 9:\x09\x05\x07\x09 ] :: binary data length 23
<<8e85f6635d4844f3aa5a1891c64736850c1f899671ff9f>>
<<. . . c ] H D . . Z . . . G 6 . . . . . q . . >>

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 

Jan 04 08:02:42.060 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 41 bytes
v:1 t:ACK c:2.05 i:b9a2 {191ddd4cd8b3596a} [ 9:\x09\x06\x07\x09 ] :: 'Sf\x15T\xD9r\xCEt\xC7\xC6((I\x17\x98\xE8\x8A\x8C\xE4\x89\xA3\x9ED'

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 

Jan 04 08:02:42.060 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 41 bytes
v:1 t:ACK c:2.05 i:448b {ed1f452be3643d28} [ 9:\x09\x02\x07\x09 ] :: binary data length 23
<<c5f6a664da673d521c9d0640f8d24f3da877cc1399f6bb>>
<<. . . d . g = R . . . @ . . O = . w . . . . . >>

 >> Notification status = Ok, ID = 4, max-age = 1, VAL = 28.7500
```


![image](https://user-images.githubusercontent.com/26736671/148022717-cce70a53-7629-405a-a716-d5ee706134f8.png)

![image](https://user-images.githubusercontent.com/26736671/148022828-f74060c9-2498-4da7-ac36-ebcad72e1924.png)



You do need to clean up the usage of CoAP protocol to not violate RFC7252, RFC7641 and RFC8613 - but I do not think that is the issue here.
For example, 2.05 is not a valid reponse to POST (should be 2.01, 2.04 or 2.02).  If Observe is being used, then the command should be FETCH (if using OSCORE) as GET is not available.
The observe triggered unsolicited reponses should be CON type packets, not ACK (or could be NON if there is to be no empty ACK response back from the client).  These do have to be 2.05 (assuming there is content), and so FETCH should be used for any OSCORE wrapped Observe request.

I think the issue is that libcoap is getting confused - Session 1 comes from source port 14555, and so does Session 2 come from the same port.  So, does the response coming back from the server get associated with Session 1 or Session 2 as the 5-tuple is identical?

Looking at a snippet from your current logs, we have
````
Session 1
Jan 04 08:02:36.055 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : new outgoing session
....
Jan 04 08:02:36.055 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : sent 54 bytes
v:1 t:CON c:POST i:5414 {191ddd4cd8b3596a} [ 9:\x09\x00\x07\x09 ] :: binary data length 36
<<11c631039f7737846c0af482f1d3e83130f253346e74948a33349a0f11be52a6f2bb4be6>>
<<. . 1 . . w 7 . l . . . . . . 1 0 . S 4 n t . . 3 4 . . . . R . . . K . >>
Jan 04 08:02:36.055 DEBG ** [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x5414: added to retransmit queue (21250ms)
Jan 04 08:02:36.056 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 36 bytes
v:1 t:ACK c:2.05 i:5414 {191ddd4cd8b3596a} [ 9: ] :: ''\xB7\xB2\xF5"2=\xF9\x14\x1E\xE15\xF5S\xA8C\xA1\x90\xFEc\xD9l'
Jan 04 08:02:36.056 DEBG ** [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x5414: removed1
....
and then from session 2
Jan 04 08:02:40.663 DEBG ***[fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : new outgoing session
.....
Jan 04 08:02:40.663 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : sent 54 bytes
v:1 t:CON c:POST i:daa0 {ed1f452be3643d28} [ 9:\x09\x01\x07\x09 ] :: '!\x93M\xF7\xD6z8\xF0\xE4\\xB4\xAA\x11>\xF6\xD0\x87\xC2\xCB\xA5\xBA0e!f\xAD\x0D\xBF"_\x90\xCA\xEF\x0D\xB3}'
Jan 04 08:02:40.664 DEBG ** [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0xdaa0: added to retransmit queue (25938ms)
Jan 04 08:02:40.664 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 36 bytes
v:1 t:ACK c:2.05 i:daa0 {ed1f452be3643d28} [ 9: ] :: binary data length 22
<<fbc03f09cf1e4866846f1e8225c023bacf61bfefbf26>>
<<. . ? . . . H f . o . . % . # . . a . . . & >>
````
Session 2 is missing the `UDP : mid=0xdaa0: removed1`, as I think that libcoap is looking for 0xdaa0 in session 1 and not looking in session 2.  The consequence of this is a retransmission of the session 2 request at 08:02:56 (not in your debug log, but wireshark line 84)

Currently in the libcoap code, there is a hash lookup on the incoming 5-tuple to find the session, and there is a hash clash.

There is no reason as to why you cannot send the second Observe request (with a different Token as you are doing) using the existing CoAP session 1.

The issue with setting up 2 CoAP sessions with UDP where you are specifying the listen port gives you this
[Code change to support this in coap-client is]
````
$ git diff
diff --git a/examples/coap-client.c b/examples/coap-client.c
index 32cd695..cf23524 100644
--- a/examples/coap-client.c
+++ b/examples/coap-client.c
@@ -1428,6 +1428,7 @@ open_session(
   else {
     /* Non-encrypted session */
     session = coap_new_client_session(ctx, bind_addr, dst, proto);
+    session = coap_new_client_session(ctx, bind_addr, dst, proto);
   }
   return session;
 }
````
and running on one terminal window
````
examples/coap-client -a ::1 -p 12345 coap://[::1]
````
and on another terminal window
````
$ netstat -an | grep 12345
udp        0      0 ::1:12345                   ::1:5683                    ESTABLISHED 
udp        0      0 ::1:12345                   ::1:5683                    ESTABLISHED 
````
As far as I can tell, incoming packets to `::1:12345` only get delivered to the first socket, hence why there was not a mid= match for your session 2.

I will look at adding in code that stops an attempt to open up a second socket where there a 5-tuple match.

Thanks again for your prompt response great support. 

I am really in a critical phase in my project and this is the only stopping point at the moment for me. With your help, I could make a great progress and is able to send subscriptions and resubscriptions without any retry messages now. So now it looks clean.

However I am stuck in another issue, as follows:
After a certain number of messages, I am observing a couple of "delayed" message from client (you can see the last couple of message as below):

```
 SubscriptionsManager: Subscription Expired Id : 1 
ASSERT: this->mIdLength == aReference.mIdLength, file: /home/projects/knxiot/src/core/knxiot_conf.cpp, line: 131

 coap_session_reference = 2
Jan 06 14:29:30.745 DEBG ***[::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session max_retransmit set to 1
Jan 06 14:29:30.745 DEBG ***[::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_random_factor set to 1.500
Jan 06 14:29:30.745 DEBG ***[::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_timeout set to 20.000
ASSERT: (!aReqContext.isOscore) == 0, file: /home/projects/knxiot/src/client/requests/knxiot_client_datalink_request_impl.cpp, line: 552
Jan 06 14:29:30.745 DEBG ** [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : lg_crcv 0x55d03b1416e0 released
Jan 06 14:29:30.745 DEBG ** [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : lg_crcv 0x55d03b1416e0 initialized
Jan 06 14:29:30.745 DEBG ** [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x529c: delayed

 coap_session_reference = 3

 coap_session_release = 2
Jan 06 14:29:30.745 DEBG *  [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 25 bytes
v:1 t:ACK c:2.05 i:529a {3cdc842daad19b6a} [ Observe:0, Content-Format:application/json, Max-Age:1 ] :: '28.7500'

 >> Subscription status = Ok, ID = 1, state = 0, TID = 860 


 SubscriptionsManager: Save Subscription Id : 1

 >> Notification status = Ok, ID = 1, max-age = 1, VAL = 28.7500 

Jan 06 14:29:30.745 DEBG release session

 coap_session_release = 1

 SubscriptionsManager: Subscription Expired Id : 1 
ASSERT: this->mIdLength == aReference.mIdLength, file: /home/projects/knxiot/src/core/knxiot_conf.cpp, line: 131

 coap_session_reference = 2
Jan 06 14:29:30.745 DEBG ***[::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session max_retransmit set to 1
Jan 06 14:29:30.745 DEBG ***[::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_random_factor set to 1.500
Jan 06 14:29:30.745 DEBG ***[::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : session ack_timeout set to 20.000
ASSERT: (!aReqContext.isOscore) == 0, file: /home/projects/knxiot/src/client/requests/knxiot_client_datalink_request_impl.cpp, line: 552
Jan 06 14:29:30.745 DEBG ** [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : lg_crcv 0x55d03b1416e0 released
Jan 06 14:29:30.745 DEBG ** [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : lg_crcv 0x55d03b1416e0 initialized
Jan 06 14:29:30.745 DEBG ** [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x529e: delayed

 coap_session_reference = 3

 coap_session_release = 2

```

![image](https://user-images.githubusercontent.com/26736671/148411609-884b0c07-9f22-4eb0-b009-e66bc0644034.png)


Note: I have fixed the notification message types from ACK to NON.

I really appreciate your help. The code update that you are suggesting for Socket creation, will avoid some confusion as well. Also, may be a re-use address/port socket option would also help(at least use will be alerted while creating a new session with same port). Jus a suggestion.

Things are getting broken once the first NON repsonse returns (well, there is only one NON response in delayed-pdu.txt).  It is possible that there may be something earlier that I have missed.
````
 coap_session_release = 3
Jan 06 14:29:30.739 DEBG *  [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 26 bytes
v:1 t:NON c:2.05 i:fb74 {3cdc842daad19b6a} [ Observe:1, Content-Format:application/json, Max-Age:1 ] :: '28.7500'
Jan 06 14:29:30.739 DEBG ** [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x5288: removed5
````
You have `mid=0xAAAA removed1` and` mid=0xAAAA removed5`.  It is the `removed5` that concerns me - I do not have it in the current `develop` branch code, or in branch` release-4.3.0`.  Which function is this in in your source code (I expect it to be in `src/net.c` somewhere).

The bug is that for this NON and subsequent CON/ACK where `removed5` is reported, the `mid` removed is NOT the same as the one reported in the received response (i:AAAA).  I dont understand why,

You should not be using the same Token for all of the different requests.  As per [RFC7641 4.1 Request](https://datatracker.ietf.org/doc/html/rfc7641#section-4.1) 

>    The entry in the list of observers is keyed by the client endpoint
>    and the token specified by the client in the request.  If an entry
>    with a matching endpoint/token pair is already present in the list
>    (which, for example, happens when the client wishes to reinforce its
>    interest in a resource), the server MUST NOT add a new entry but MUST
>    replace or update the existing one.

The continued re-use of the same token (GET with Observe:0) will be causing the server to be refreshing things.  I think you mean to be using different tokens for each request here.

Well, regarding the re-use of same token, this is intentional and I am refreshing the same subscription again and again.

Regarding only a single NON, it could be possible because the interval between each Observe register message is very less, so less that there is no room for a notification being left.

Regarding removed1 .... removed5 messages, i have changed the log in libcoap locally to identify the location in code as the messages were identical for all the location in code. I will send post you the exact location of these log messages tomorrow.

Following  is the libcoap code snipped where I have changed the log from removed to removedN:

```
int coap_remove_from_queue(coap_queue_t **queue, coap_session_t *session,
                           coap_mid_t id, coap_queue_t **node) {
    coap_queue_t *p, *q;

    if (!queue || !*queue)
        return 0;

    /* replace queue head if PDU's time is less than head's time */

    if (session == (*queue)->session &&
        id == (*queue)->id) { /* found message id */
        *node = *queue;
        *queue = (*queue)->next;
        if (*queue) { /* adjust relative time of new queue head */
            (*queue)->t += (*node)->t;
        }
        (*node)->next = NULL;
        coap_log(LOG_DEBUG, "** %s: mid=0x%x: removed1\n",
                 coap_session_str(session), id);
        return 1;
    }

    /* search message id queue to remove (only first occurence will be removed)
     */
    q = *queue;
    do {
        p = q;
        q = q->next;
    } while (q && (session != q->session || id != q->id));

    if (q) { /* found message id */
        p->next = q->next;
        if (p->next) { /* must update relative time of p->next */
            p->next->t += q->t;
        }
        q->next = NULL;
        *node = q;
        coap_log(LOG_DEBUG, "** %s: mid=0x%x: removed2\n",
                 coap_session_str(session), id);
        return 1;
    }

    return 0;
}

void coap_cancel_session_messages(coap_context_t *context,
                                  coap_session_t *session,
                                  coap_nack_reason_t reason) {
    coap_queue_t *p, *q;

    while (context->sendqueue && context->sendqueue->session == session) {
        q = context->sendqueue;
        context->sendqueue = q->next;
        coap_log(LOG_DEBUG, "** %s: mid=0x%x: removed3\n",
                 coap_session_str(session), q->id);
        if (q->pdu->type == COAP_MESSAGE_CON && context->nack_handler)
            context->nack_handler(session, q->pdu, reason, q->id);
        coap_delete_node(q);
    }

    if (!context->sendqueue)
        return;

    p = context->sendqueue;
    q = p->next;

    while (q) {
        if (q->session == session) {
            p->next = q->next;
            coap_log(LOG_DEBUG, "** %s: mid=0x%x: removed4\n",
                     coap_session_str(session), q->id);
            if (q->pdu->type == COAP_MESSAGE_CON && context->nack_handler)
                context->nack_handler(session, q->pdu, reason, q->id);
            coap_delete_node(q);
            q = p->next;
        } else {
            p = q;
            q = q->next;
        }
    }
}

void coap_cancel_all_messages(coap_context_t *context, coap_session_t *session,
                              const uint8_t *token, size_t token_length) {
    /* cancel all messages in sendqueue that belong to session
     * and use the specified token */
    coap_queue_t *p, *q;

    while (context->sendqueue && context->sendqueue->session == session &&
           token_match(token, token_length, context->sendqueue->pdu->token,
                       context->sendqueue->pdu->token_length)) {
        q = context->sendqueue;
        context->sendqueue = q->next;
        coap_log(LOG_DEBUG, "** %s: mid=0x%x: removed5\n",
                 coap_session_str(session), q->id);
        coap_delete_node(q);
    }

    if (!context->sendqueue)
        return;

    p = context->sendqueue;
    q = p->next;

    /* when q is not NULL, it does not match (dst, token), so we can skip it */
    while (q) {
        if (q->session == session &&
            token_match(token, token_length, q->pdu->token,
                        q->pdu->token_length)) {
            p->next = q->next;
            coap_log(LOG_DEBUG, "** %s: mid=0x%x: removed6\n",
                     coap_session_str(session), q->id);
            coap_delete_node(q);
            q = p->next;
        } else {
            p = q;
            q = q->next;
        }
    }
}
```



The NON message you pointed seems to the coming out from libcoap and not from my application. This could be because, I might be clearing the session entirely and this is the un-register to the observe associated to that  session, possible ??

As the NON had a 2.05 response, it is an Observe triggered additional response.

I suggest that you a)

Run the client using valgrind to see if there are any memory access errors

b)

debug the client setting a breakpoint in the removed5 line and when the breakpoint is hit do a stack trace to see who is calling coap_cancel_all_messages().

![image](https://user-images.githubusercontent.com/26736671/148510772-0057e2da-ee66-4bf9-8cdd-6bce018991fb.png)


I will check with valgrind as well.

I am using the same session to send multiple observe request to the same server, could that be creating this issue ?

Once an observe register request to a resource+query has been sent, there is no need to repeat it when using the same session.  The only time to resend it is if the server has restarted, so does not know about the observe request and therefore is no longer sending any unsolicited responses.  In this case, it is wise for the client to realize that MAX-AGE has timed out and then re-registers the observe request.

The issue you are having is down to this code
````
static void
handle_response(coap_context_t *context, coap_session_t *session,
  coap_pdu_t *sent, coap_pdu_t *rcvd) {

  /* In a lossy context, the ACK of a separate response may have
   * been lost, so we need to stop retransmitting requests with the
   * same token.
   */
  coap_cancel_all_messages(context, session, rcvd->token, rcvd->token_length);
````
which needs to be there for CON type traffic.  If you look further into the logs after the NON that you sent me, you have
````
 coap_session_release = 3
Jan 06 14:29:30.739 DEBG *  [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 25 bytes
v:1 t:ACK c:2.05 i:5288 {3cdc842daad19b6a} [ Observe:0, Content-Format:application/json, Max-Age:1 ] :: '28.7500'
Jan 06 14:29:30.739 DEBG ** [::]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : mid=0x528a: removed5

 coap_session_release = 2
````
which is also happening with CON/ACK responses (different mid= being released).  This is because you are using the same token each time which is not recommended.  See [4.  Token Processing for Secure Request-Response Binding](https://datatracker.ietf.org/doc/html/draft-ietf-core-echo-request-tag-14#section-4)

It also would be good to know who called coap_read_endpoint() in your walk back trace.

I assume that you only have one thread dedicated to CoAP libcoap stuff as code is not multi-thread safe at present.

Yes, I have a single thread where I do the Read, Send, Session operation and have used libcoap in a thread safe manner.

So, you mean I should wait for some time(max-age + rand(5 to 15) seconds) and then send out the refresh subscription for the same Token ?

One more point, is there a way I can stop sending un un-register Observe from libcoap itself. Basically I want to do it because my code should always send the un-register both in case of OSCORE and non-OSCORE builds and no exceptions has to be made in client code. 

> So, you mean I should wait for some time(max-age + rand(5 to 15) seconds) and then send out the
> refresh subscription for the same Token ?

Yes, that is what [RFC7641 3.3.1.  Freshness](https://datatracker.ietf.org/doc/html/rfc7641#section-3.3.1) states if there has not been a response within that period from the server (which should be sending out an unsolicited response every Max-Age).

If the client CoAP session reference count is dropped to 0 (using `coap_session_release`()) (session starts with a value of 1) then the session is closed down and if there is an observe active, it will get un-registered as a part of the close down process as there is nothing left to recieve any unsolicited response packets..  Otherwise, if the session is still active, libcoap should not automatically be sending an un-register request (with observe value == 1).  When are you seeing any difference to this?

> Yes, I have a single thread where I do the Read, Send, Session operation and have
> used libcoap in a thread safe manner.

Thanks for the confirmation.

> > So, you mean I should wait for some time(max-age + rand(5 to 15) seconds) and then send out the
> > refresh subscription for the same Token ?
> 
> Yes, that is what [RFC7641 3.3.1. Freshness](https://datatracker.ietf.org/doc/html/rfc7641#section-3.3.1) states if there has not been a response within that period from the server (which should be sending out an unsolicited response every Max-Age).
> 
> If the client CoAP session reference count is dropped to 0 (using `coap_session_release`()) (session starts with a value of 1) then the session is closed down and if there is an observe active, it will get un-registered as a part of the close down process as there is nothing left to recieve any unsolicited response packets.. Otherwise, if the session is still active, libcoap should not automatically be sending an un-register request (with observe value == 1). When are you seeing any difference to this?

Clear about the first point.

Yu are correct on the second point and I do not see any difference, however for OSCORE, libcoap will not send a cancellation because it does not know if it is an observe request(because observe option is the inner option and is encrypted). If I am sending a cancellation for this, I will have to make sure that I do not send it when plain communication is used and send only in case of OSCORE communication. I wanted to avoid this coding exception.

> You are correct on the second point and I do not see any difference, however for OSCORE,
> libcoap will not send a cancellation because it does not know if it is an observe request
> (because observe option is the inner option and is encrypted). If I am sending a cancellation
> for this, I will have to make sure that I do not send it when plain communication is used and
> send only in case of OSCORE communication. I wanted to avoid this coding exception.

Use of #764 would handle all of this automatically for you, but you unfortunately cannot use that code at present.

However, [RFC8613 4.1.3.5.  Observe](https://datatracker.ietf.org/doc/html/rfc8613#section-4.1.3.5) states 

>    For cancellations, Section 3.6 of [RFC7641] specifies that all
>    options MUST be identical to those in the registration request except
>    for the Observe option and the set of ETag options.  For OSCORE
>    messages, this matching is to be done to the options in the decrypted
>    message.

And so it is up to your application when it wants to do the cancel - whether sending the cancellation PDU via your OSCORE layer or sending it without the OSCORE wrapping (if not using OSCORE at all) as the matching at the server end is always done against the decrypted (or non-encrypted) message.  If libcoap does not see the observe request (because of OSCORE), then it will never un-register an observe request.  If you are following [RFC8613 4.1.3.5.1.  Registrations and Cancellations](https://datatracker.ietf.org/doc/html/rfc8613#section-4.1.3.5.1), then the OUTER Observe cancellation is ignored by the OSCORE server (but still will allow the INNER Observe cancellation) (libcoap is effectively being treated as an intermediary node).

Thanks for the explanation and support. This really clarified a lot of things on the workflow level. And with the relevant changes, it seems to be working now. However I will test it for few days of continuous run and see the actual result.

No problem.  If all is working after a large soak test over several days, please close off this issue.

In the call-back trace you provided when debugging the issue, `coap_read_endpint()` was referred to as the last entry.  This is unexpected in a client - have you called `coap_new_endpoint()` as well as `coap_new_client_session()` in your client code?

`coap_new_endpoint()` is usually used in the server code as the listening endpoint.  `coap_new_client_session()` creates the client end endpoint.

@fun-works Please feel free to reopen this issue if there is still a problem.

> 

Yes, we had used both the calls in our client code. This could be caused by this you think ?

> In the call-back trace you provided when debugging the issue, `coap_read_endpint()` was referred to as the last entry. This is unexpected in a client - have you called `coap_new_endpoint()` as well as `coap_new_client_session()` in your client code?
> 
> `coap_new_endpoint()` is usually used in the server code as the listening endpoint. `coap_new_client_session()` creates the client end endpoint.

Yes, we had used both the calls in our client code. This could be caused by this you think ?

For a proxy server, I would expect the use of `coap_new_endpoint()` to handle any incoming sessions from a client, and `coap_new_client_session()` (or one of its alternative variants) to create and handle the ongoing session to the upstream server.

I would not be expecting a pure client to be listening for new traffic using c`oap_new_endpoint()`.  I would only be expecting the pure client to be initiating a new session using `coap_new_client_session()`.

Now I have cleaned my code to an extent to send notifications as NON and not to use coap_new_endpoint() for a pure client.

I have a problem as explained below:
1. I have ONE client and 1 Servers
2. I have sent TWO Observe requests to the server with two different Tokens
3. I have used the same session however because there is only one server
4. I am sending re-registration  for Observe from Client to Server before the observes expire(exactly after elasping 50% of total lifetime)
5. It runs for some time, but the client observe requests "delayed" after some time

Questions:
Is my use case or how I am doing is valid ?
If no, how can I re-register before they expire ?

Attached is the log file. you can see towards the end both observe requests are "delayed".
[observe.log](https://github.com/obgm/libcoap/files/9262014/observe.log)



The issue is caused by this traffic as seen by the client
````
Aug 04 19:27:15.733 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : sent 37 bytes
v:1 t:CON c:GET i:5f72 {ac63670c181c0c10} [ Observe:0, Uri-Path:p, Uri-Path:rts, Uri-Path:temproom, Content-Format:application/json, Uri-Query:lt=5, Accept:application/json ]
...
Aug 04 19:27:15.734 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 24 bytes
v:1 t:NON c:2.05 i:ed5a {ac63670c181c0c10} [ Observe:3, Content-Format:application/json, Max-Age:1 ] :: '28.75'
...
Aug 04 19:27:15.734 DEBG *  [fe80::250:56ff:fe00:0]:14555 <-> [fe80::250:56ff:fe00:0]:5683 UDP : received 23 bytes
v:1 t:ACK c:2.05 i:5f72 {ac63670c181c0c10} [ Observe:0, Content-Format:application/json, Max-Age:1 ] :: '28.75'
````
where the server triggered NON Observer is received between the CON and responding ACK.

[RFC7252 5.2.2 Separate](https://datatracker.ietf.org/doc/html/rfc7252#section-5.2.2) indicates an ACK can be sent and then the actual response can be sent later as either a CON or a NON.  It is conceivable that the ACK gets lost in the response, so as the Token in the NON matches that of the requesting CON, the libcoap logic assumes the CON has been responded to (but in error thinks that there is a CON outstanding so does not let the next CON request to be sent).

I will look into this error, but am surprised that you are re-enforcing the Observe request every 2 or so seconds.

Please see fix in #896.

> With the fix https://github.com/obgm/libcoap/pull/896, this will be resolved automatically or I will have to take care of anything further?

I believe that this will fix your issue in the testing that I have done, but it was not as stress testing as your code.  If you could try out the code change in #896, and confirm that this works, that would be great.

> > With the fix #896, this will be resolved automatically or I will have to take care of anything further?
> 
> I believe that this will fix your issue in the testing that I have done, but it was not as stress testing as your code. If you could try out the code change in #896, and confirm that this works, that would be great.

Will do that. Thanks a lot.