Unable to determine when packets are received via multicast

## Environment

- libcoap version (run ``git describe --tags`` to find it):  
    // v4.3.0, also tested develop latest
- Build System: CMake  
- Operating System: Linux  
- Operating System Version: 5.11.0-49-generic  
- Hosted Environment: None  

## Problem Description

Greetings, I am unable to determine when CoAP requests (ipv6) arrive via multicast. There is neither any indication presented via libcoap debug output, nor any libcoap API I have found to determine that a request was received via multicast.  

From [RFC7252, Section 8.1](https://datatracker.ietf.org/doc/html/rfc7252#section-8.1) a server should be aware of this circumstance, as it is important in determining what behavior to use when sending a response. A few use-cases are also detailed by [RFC7390, Section 2.7](https://datatracker.ietf.org/doc/html/rfc7390#section-2.7). It looks like IPV6_RECVPKTINFO is being used in coap_io.c in coap_new_endpoint, but I'm not sure for what purposes. 

### Expected Behavior

libcoap server should report/make available the multicast group address for requests received via multicast.  For example:  

```
May 20 15:57:37.988 DEBG *  [::]:5683 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:56663 UDP : received 11 bytes
```

Should show:
```
May 20 15:57:37.988 DEBG *  [ff05::1]:5683 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:56663 UDP : received 11 bytes
```

When the server is in the multicast group ff05::1 and a client sends a multicast request to that group. I should also be able to get this multicast group address as the local_addr or similar from the API. The only place that local_addr seems to be available is through the coap_session module, which seems to only house information related to the endpoint's listening address. 

### Actual Behavior

A libcoap server that registers to a ip6 multicast group via coap_join_mcast_group_intf (-g flag with coap-server) reports ip6 local address as :: for requests received via multicast.

### Steps to reproduce

Build, start coap-server
```bash
cd /tmp
git clone https://github.com/obgm/libcoap.git
cd libcoap
git checkout release-4.3.0

mkdir build
cd build
cmake .. -DENABLE_TCP=OFF -DENABLE_DTLS=OFF -DENABLE_TESTS=OFF -DENABLE_EXAMPLES=ON -DENABLE_DOCS=OFF -DBUILD_SHARED_LIBS=ON
cmake --build .

./coap-server -g ff05::1 -v 9
```
Another terminal, run client:  
```bash
./coap-client -m get coap://[ff05::1]/ -N -v 9
```

## Debug Logs

Client output:
```
May 20 15:57:43.972 DEBG ***[::]:44090 <-> [ff05::1]:5683 UDP : session 0x55c4b3d8f440: created outgoing session
May 20 15:57:43.972 DEBG sending CoAP request:
May 20 15:57:43.972 DEBG PDU presented by app
v:1 t:NON c:GET i:3d3f {01} [ ]
May 20 15:57:43.972 DEBG ** [::]:44090 <-> [ff05::1]:5683 UDP : lg_crcv 0x55c4b3d90130 initialized - stateless token xxxx000000000002
May 20 15:57:43.972 DEBG *  [::]:44090 <-> [ff05::1]:5683 UDP : sent 11 bytes
v:1 t:NON c:GET i:3d3f {01000000000002} [ ]
May 20 15:57:43.972 DEBG timeout is set to 5 seconds
May 20 15:57:43.972 DEBG *  [::]:44090 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:5683 UDP : received 153 bytes
v:1 t:NON c:2.05 i:3d3f {01000000000002} [ Max-Age:196607 ] :: 'This is a test server made with libcoap (see https://libcoap.net)\x0ACopyright (C) 2010--2021 Olaf Bergmann <bergmann@tzi.org> and others\x0A\x0A'
May 20 15:57:43.972 DEBG ** [::]:44090 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:5683 UDP : lg_crcv 0x55c4b3d90130 released
May 20 15:57:43.972 DEBG ** process incoming 2.05 response:
This is a test server made with libcoap (see https://libcoap.net)
Copyright (C) 2010--2021 Olaf Bergmann <bergmann@tzi.org> and others

May 20 15:57:48.975 INFO timeout
May 20 15:57:48.975 DEBG ***[::]:44090 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:5683 UDP : session 0x55c4b3d8f440: closed
```

Server output:  
```
May 20 15:57:32.924 DEBG created UDP  endpoint [::]:5683
May 20 15:57:32.925 DEBG added mcast group [ff05::1]:5683
May 20 15:57:37.988 DEBG ***[::]:5683 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:56663 UDP : session 0x55ed77281f70: new incoming session
May 20 15:57:37.988 DEBG ***EVENT: 0x4001
May 20 15:57:37.988 DEBG *  [::]:5683 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:56663 UDP : received 11 bytes
v:1 t:NON c:GET i:98c3 {01000000000002} [ ]
May 20 15:57:37.988 DEBG call custom handler for resource ''
May 20 15:57:37.988 DEBG *  [::]:5683 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:56663 UDP : sent 153 bytes
v:1 t:NON c:2.05 i:98c3 {01000000000002} [ Max-Age:196607 ] :: 'This is a test server made with libcoap (see https://libcoap.net)\x0ACopyright (C) 2010--2021 Olaf Bergmann <bergmann@tzi.org> and others\x0A\x0A'
May 20 15:57:43.972 DEBG ***[::]:5683 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:44090 UDP : session 0x55ed77282610: new incoming session
May 20 15:57:43.972 DEBG ***EVENT: 0x4001
May 20 15:57:43.972 DEBG *  [::]:5683 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:44090 UDP : received 11 bytes
v:1 t:NON c:GET i:3d3f {01000000000002} [ ]
May 20 15:57:43.972 DEBG call custom handler for resource ''
May 20 15:57:43.972 DEBG *  [::]:5683 <-> [fd64:25cb:34fb:0:b16:8d25:50b6:70]:44090 UDP : sent 153 bytes
v:1 t:NON c:2.05 i:3d3f {01000000000002} [ Max-Age:196607 ] :: 'This is a test server made with libcoap (see https://libcoap.net)\x0ACopyright (C) 2010--2021 Olaf Bergmann <bergmann@tzi.org> and others\x0A\x0A'
```

## Other items if possible

The above test was run with client and server both on same machine.  

We do have a thread network set up which has devices that can bi-directionally communicate with libcoap servers on our ethernet side of the network across a thread border router. All devices on the ethernet segment are connected via ethernet cables to the router. These requests produce the same result as above, where the multicast group received on is not displayed or made available.  

The thread devices run the openthread CoAP implementation, which does report the multicast group received on as the local address for the server while processing requests. Openthread's API provides the information on message receipt using a second data structure [otMessageInfo](https://openthread.io/reference/struct/ot-message-info).

Cheers, and thanks for this great tool. If there's anything I can try out, let me know.


The issue appears to be that `struct cmsghdr` is not being detected correctly, and hence the missing information (everything works using the Automake system).

Can you please try these changes:-
````
diff --git a/CMakeLists.txt b/CMakeLists.txt
index dd3f2d9..86535cf 100644
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -167,7 +167,7 @@ if(WIN32)
   set(HAVE_STRUCT_CMSGHDR 1)
 else()
   check_symbol_exists(
-    cmsghdr
+    CMSG_FIRSTHDR
     sys/socket.h
     HAVE_STRUCT_CMSGHDR)
 endif()
diff --git a/cmake_coap_config.h.in b/cmake_coap_config.h.in
index 1244422..d01ab53 100644
--- a/cmake_coap_config.h.in
+++ b/cmake_coap_config.h.in
@@ -13,6 +13,10 @@
 #ifndef COAP_CONFIG_H_
 #define COAP_CONFIG_H_
 
+#if ! defined(_WIN32)
+#define _GNU_SOURCE
+#endif
+
 /* Define to 1 if you have <ws2tcpip.h> header file. */
 #cmakedefine HAVE_WS2TCPIP_H @HAVE_WS2TCPIP_H@
 
````
and let us know how it goes please.

Beautiful, everything is working as expected now. Thank you for the fast response! Marking as closed.