Handling of Unsupported Content-Format Requests

### Problem Description:
According to RFC7252 section 5.10.4:
`If the preferred Content-Format cannot be returned, then a 4.06 "Not Acceptable" MUST be sent
as a response, unless another error code takes precedence for this response.`
When a request is made to the /time resource, which is known to have a Content-Format of text/plain, and the Accept option is set to application/link-format, the server responds with text/plain instead of the required 4.06 Not Acceptable.

### Reproduce Packet:
```
CON GET /time (Accept: application/link-format)
4401a8de97432dbbb474696d656128
```
It would be helpful if you could clarify whether this is a bug or intended behavior. Thank you for your time and assistance.

Thank you for raising this.  The example coap-server does not enforce this at the application layer.  I will look further into this to see if the libcoap layer cannot enforce this.

Appreciate your support!