Some requests are delayed but never end up in the retransmit queue

Hello,

I just switched to the latest develop branch and run into the following issue:
At startup, I start observing all the Ikea Tradfri bulbs, moods, groups, ....   
However, some requests are not processed as far as I can see.

In the log (attached) I notice 

1. some requests (eg tid 55802..55809) are delayed (which is probably expected)

1. some of these (eg 55802, 55804, 55806, 55808) end up in the retransmit queue (which I would guess is the expected behavior)

1. some of them are not processed anymore apparently (eg 55803, 55805, 55807, 55809)

All my (observe) requests are sent from a single thread.  I use a single context and a single session.  The while-loop calling `coap_run_once` is running in a separate thread.  

Is this a bug? Something wrong on my side?

Thanks in advance,

Marc
[coap_log.txt](https://github.com/obgm/libcoap/files/2295218/coap_log.txt)


This is triggered by limiting CON requests to only one outstanding - as per
https://tools.ietf.org/html/rfc7641#section-4.5

In order not to cause congestion, servers MUST strictly limit the number of
simultaneous outstanding notifications/responses that they transmit to a given
client to NSTART (1 by default; see Section 4.7 of RFC 7252 [RFC7252]).
An outstanding notification/response is either a confirmable message for which
an acknowledgement has not yet been received and whose last retransmission
attempt has not yet timed out or a non-confirmable message for which the
waiting time that results from the following rate-limiting rules has not yet
elapsed.

It is worth trying adding in the code from #239 and #235 which are pending merge, but I am not sure it will necessarily help, but...

In general, you should not access a single coap_context_t object from different threads as it is not designed to be MT-safe.

@mrdeep1 Thanks for your feedback.  I (now) understand that there can be only 1 outstanding CON request.   I guess this explains why the other observe requests are being delayed.  

But does this also explain why 1 out of two (the even ones) are retransmitted later on 
but the other half (the odd ones) are not processed anymore?

coap_run_once(... wait_ms) calls coap_write() who flushes out any pending observe notifications (if server) and then calculates the minimum timeout period before anything needs to happen (e.g. CON packet re-transmit).  The smaller of wait_ms & timeout is then used as a timeout in the internal select() call monitoring all the socket connections , and then calls coap_read() to get in any data - which will then call the appropriate callback handlers you have set up (using coap_register_response_handler() etc.) before exiting out of coap_run_once(). 

The while loop wrapping coap_run_once() will therefore run worst case every wait_ms, but faster if there is any received traffic (e.g. your POST response).  

In terms of only the even eventually getting sent - no idea. Have you let it run long enough to get in responses from all of the observer requests sent out?
The DTLS branch does not have the CON being limited to 1 outstanding, so I would expect this to be different.

Wrt to why only one out of two packets is retransmitted:  I think there is a bug in `coap_session_connected`.  I think packets are lost inside the

```
while (session->delayqueue && session->state == COAP_SESSION_STATE_ESTABLISHED) {
    ...
    if (q->pdu->type == COAP_MESSAGE_CON && COAP_PROTO_NOT_RELIABLE(session->proto)) {
      if (session->con_active >= COAP_DEFAULT_NSTART) 
           break;  //here packets are lost IMO
         
```

I've changed it to 

```
while (session->delayqueue && session->state == COAP_SESSION_STATE_ESTABLISHED) {
    ...
    if (q->pdu->type == COAP_MESSAGE_CON && COAP_PROTO_NOT_RELIABLE(session->proto)) {
      if (session->con_active >= COAP_DEFAULT_NSTART) {
          q->next = session->delayqueue;
          session->delayqueue = q;
          break;
      }
```

which seems to work fine as far as I can see




Well spotted - you are correct.  I will push a fix shortly (done slightly differently in that the entry is only removed from the queue if it can be processed).

@mrdeep1  Can I close this issue or should this be closed by you since you fixed it?

It is up to you.  It will be closed when the PR request is merged.

@obgm This one can be closed now.