Handling of Critical Option with Invalid Length

### Problem Description:
According to RFC 7252 section 5.4.3: `If the length of an option value in a request is outside the defined range, that option MUST be treated like an unrecognized option.` Additionally, section 5.4.1 specifies that: `Any unrecognized options of class "Critical" that occur in a Confirmable request MUST result in a 4.02 (Bad Option) response from the server.`
When a GET request containing an invalid critical option with an invalid option length is sent to the server, the server responds with 0.00 instead of the expected 4.02 (Bad Option). 
### Reproduce Packet:
```
CON GET /time (URI-Host with invalid length):
44018083564d4af9308474696d65
```
It would be helpful if you could clarify whether this is a bug or intended behavior. Thank you for your time and assistance.

As it happens, the 0.00 response actually is a RST response. Here, libcoap is saying it is unsafe to parse this PDU any further and just rejecting the PDU.   However, I agree that this should be a 4.02 response.

For information, the server logs report (running with the -v7 option)
````
May 12 16:30:22.333  1 DEBG ***[::ffff:127.0.0.1]:5683 <-> [::ffff:127.0.0.1]:49473 (if1) UDP : session 0x64d81ab000c0: new incoming session
May 12 16:30:22.333  1 DEBG ***EVENT: COAP_EVENT_SERVER_SESSION_NEW
May 12 16:30:22.333  1 DEBG *  [::ffff:127.0.0.1]:5683 <-> [::ffff:127.0.0.1]:49473 (if1) UDP : netif: recv   14 bytes
May 12 16:30:22.333  1 WARN coap_pdu_parse: 0.01: offset 0 option 3 has bad length 0
May 12 16:30:22.333  1 DEBG O: *30 8474696d65
May 12 16:30:22.333  1 DEBG O: *0  . t i m e
May 12 16:30:22.333  1 DEBG ***EVENT: COAP_EVENT_BAD_PACKET
May 12 16:30:22.333  1 WARN discard malformed PDU
May 12 16:30:22.333  1 DEBG *  [::ffff:127.0.0.1]:5683 <-> [::ffff:127.0.0.1]:49473 (if1) UDP : netif: sent    4 bytes
v:1 t:RST c:0.00 i:8083 {} [ ]
````

Thank you for the detailed explanation and the server logs; that clarifies the behavior well.

See #1656 for a fix.  Please confirm that this works for you.

Yes, it works as expected! Thank you for your fix.

Thanks for confirming.