DTLS server certificate verification

Hi,

Presently in libcoap dtls - client certificate/verify is optional and can be enabled via verify_peer_cert =1 but server certificate is always sent. Is there an option in libcoap to make server certificate also optional?
As per DTLS protocol RFC, server certificate can also be optional.

DTLS RFC 6101 details : https://www.rfc-editor.org/rfc/rfc6101#section-5.6.2
ServerHello Certificate is marked with * which means optional or situation-dependent messages that are not always sent.

> Is there an option in libcoap to make server certificate also optional?

No, and never will be if PKI / Raw Public Key (RPK) is in use.

RFC6101 is historical summary document for SSL 3.0, a protocol that should no longer be used.

[RFC5246 TLS1.2 Server Certificate](https://datatracker.ietf.org/doc/html/rfc5246#section-7.4.2) states
````
      The server MUST send a Certificate message whenever the agreed-
      upon key exchange method uses certificates for authentication
      (this includes all key exchange methods defined in this document
      except DH_anon).  This message will always immediately follow the
      ServerHello message.
````
so, if Pre-Shared Key (PSK) is in use, there is no server certificate and so it is not sent.  Otherwise if there is a certificate, it MUST be sent.  [DTLS1.2 RFC6347](https://datatracker.ietf.org/doc/html/rfc6347) is based on TLS1.2 and does not refer to any changes in the server still sending the certificate.

[TLS1.3 RFC8446 4.4.2 Certificate](https://datatracker.ietf.org/doc/html/rfc8446#section-4.4.2) is more explicit as in
````
   The server MUST send a Certificate message whenever the agreed-upon
   key exchange method uses certificates for authentication (this
   includes all key exchange methods defined in this document
   except PSK).
````
Likewise, [DTLS1.3 RFC9147](https://datatracker.ietf.org/doc/rfc9147/) is based on TLS1.3 and does not refer to any changes in the server still sending the certificate.


> As I understand from your response, currently libcoap library doesn't have an option to stop server to share
> its certificate with the client.

The underlying (D)TLS layer will insist on sending a certificate if using certificates (e.g. X509 or RPK) so there is no way to control this.

There is nothing to stop you setting up a "client" session from what will act as the CoAP server to a "server" which will act as the CoAP client.  Once (D)TLS is established (event COAP_EVENT_DTLS_CONNECTED, the "server" can then issue the appropriate CoAP requests and the "client" responding with the appropriate CoAP responses.

This would effectively be acting as a call-home mechanism.  This is done in [RFC9066 DOTS Signal Channel Call Home](https://www.rfc-editor.org/rfc/rfc9066.html#name-dots-signal-channel-call-hom) which runs over CoAP.



Okay, I will check this mechanism. Thanks. 
Will reach out to you in case of any queries.

Essentially set up endpoints (`coap_new_endpoint()`) in what will be your CoAP client (and keep all the CoAP response handlers) and use `coap_new_client_session_pki()` to start the DTLS session in your CoAP server (and keep all the CoAP request handlers).

Good that things are moving forward.

From the DTLS perspective, it has to be the DTLS client that sends the initial (D)TLS ClientHello.  Generally this would be in the initial UDP packet.  If you were using TCP, then on the remote TLS endpoint seeing the successful TCP connection from a TCP client that TLS endpoint could could then send the ClientHello.

You essentially need something to trigger the remote coap endpoint to send its initial ClientHello if talking UDP.



Thanks for the updates. 
Yes, because this is UDP based, is there any COAP API in the library that can send out a message from the COAP CLIENT(now DTLS server) to the COAP SERVER(now DTLS client) and the server can start coap_new_client_session_pki() only after that? We are planning to use some socket communication and use that as the trigger from client to server, however wanted to know if there is any means in the library.

Simple answer is no.  You are now creating your own protocol where a UDP packet is sent containing some known data (which could be zero length, but not recommended) that on receipt by the CoAP Server causes a DTLS ClientHello to be sent to the CoAP client who then responds to the ClientHello with a ServerHello (well actually initially with a VerifyRequest) and so-on for the DTLS session to be established before the Coap Client is able to transmit its first (encrypted) request.

All this because (as I understand this) you want to save the overhead of sending a Server Certificate.  You need to add in a customized protocol packet instead of a Server Certificate.  Or have I missed something?

Yes, that's correct. Basically we do not want the COAP server(now acting as DTLS client) to send the 'client hello' until it get's a trigger from COAP client(acting as a DTLS server).
The whole intention of this role reversal was to ensure that the certificate is sent by the COAP client and not the COAP server, where as in actual as per the protocol server sends the certificate.

We also found an API -
Function: coap_session_set_type_client()
The coap_session_set_type_client() API is used to convert the session from a session endpoint type of Server to Client. This is typically used in a Call-Home type environment where the roles have to change following the establishment of a session. The reference count is incremented by 1.

We were not able to get any example programs for this. 
1. Does this API come into picture post the DTLS handshake or can be used prior to that?
2. Will it be of any help for our use case were we want the COAP client(DTLS server) to send the certificate and not the COAP server(DTLS client).
3. Also, can you please share your thoughts on this idea where we initially create a COAP UDP session from COAP client to COAP server and once the session is established, mutually agree and close the UDP session without any data exchange and create a new DTLS session from the COAP server to the COAP client for certificate validation and data exchange.

Some background here.

When a client initiates a CoAP session, libcoap creates a coap_session_t that has a reference count of `1` and is set to type COAP_SESSION_TYPE_CLIENT.  This then may start a (D)TLS session by causing the TLS library to send the (D)TLS ClientHello if the session is to be encrypted.

When a server sees an incoming UDP packet that does not match an existing coap_session_t (IP addresses / ports) it creates a new coap_session_t that has a reference count of `0`. If this is received on a (D)TLS port, the session is set to type COAP_SESSION_TYPE_HELLO else COAP_SESSION_TYPE_SERVER.  Once the coap_session_t sees a ClientHello, then it becomes type COAP_SESSION_TYPE_SERVER.

Throughout the libcoap code, the session reference count is increased to do something and when that something is finished the reference count is decremented.

When the reference count drops to 0, for a client, then the client coap_session_t is removed.  So, when initially created it is set to 1 so that the client never goes away until the application layer does a coap_session_release() or a coap_free_context().

For a server, when the reference count drops to 0, it gets added to a pool of inactive coap_session_t (still maintaining IPs and ports) waiting for the next matching incoming packet. If inactive for some time, this coap_session_t will get reused for a different set of IPs/ports.

So this is where coap_session_set_type_client() comes in in the Call-Home scenario - where the incoming packet creates a new coap_session_t with reference of 0, but it now needs to become the client, so type is changed to COAP_SESSION_TYPE_CLIENT and refence bumped by 1 so the client never inadvertently goes away until deliberately told to do so. It does nothing else.

> Does this API come into picture post the DTLS handshake or can be used prior to that?

So, in your case, coap_session_set_type_client() must not be used before the DTLS logic has seen a packet containing a ClientHello, but can be done any time after that even if DTLS is not yet fully established.

> Will it be of any help for our use case were we want the COAP client(DTLS server) to send the
> certificate and not the COAP server(DTLS client).

No.

> Also, can you please share your thoughts on this idea where we initially create a COAP UDP session
> from COAP client to COAP server and once the session is established, mutually agree and close the
> UDP session without any data exchange and create a new DTLS session from the COAP server to the
> COAP client for certificate validation and data exchange.

You need to set up a trigger for the DTLS session to be started from the COAP server to the CoAP Client,  The CoAP server will need to know the IP/port to connect to.  What you suggest may work, but needs to be properly tested.


I'm not entirely sure as to why you do not want to send the server certificate.  This can just be the server certificate - it does not have to include the certificate chain.  The server certificate can be made the smallest possible - the client does not need to check this certificate.

I get that you need to be able to validate the client - presumably you are using something in the certificate for validation..

Have you thought about using Raw Public Key (RPK) where the DTLS exchange is smaller - and then on the server, in the CN call-back, you can check that the RPK subjectPublicKey matches a list of known subjectPublicKey?


Hi @mrdeep1 ,
We have completed this with the role reversal. You can consider this ticket as closed. 
Thank you for your support, it was really helpful :)

Thanks for the feedback.  Good to be able to help you.