Can the server actively push without client initiates the request first？

Hi all,  
In http, server cannot actively push. And in http2.0 server can push message after the client request first. I found some information about coap below. [link](https://tools.ietf.org/id/draft-ietf-core-coap-00.html)  

> CoAP supports a built-in subscribe/notify push model for an end-point to notify another end-point about a resource of interest. This push is accomplished using the CoAP notify message type, whose URI corresponds to the resource of interest on the end-point sending the notify message. A notify may include the latest representation of the resource in its payload and/or the Etag Option.

How can server push message to client? Does "libcoap" implement related functions? thx

````
RFC7252
2.  Constrained Application Protocol

   The interaction model of CoAP is similar to the client/server model
   of HTTP.  However, machine-to-machine interactions typically result
   in a CoAP implementation acting in both client and server roles.  
````
Obviously, the one sending a request is always a client. But it might have been a server in the last  interaction.  So, there is no reason why the 'Server' cannot temporarily act in client mode and PUT/POST something to the 'Client' who is also supporting server mode.

This functionality is supported by libcoap and is used in DOTS applications (RFC8782) for the heartbeats which can be initiated from either end of the CoAP session.

In the case you quote above, the client still needs to do a GET to indicate that it wants to subscribe to a resource and subsequently be notified of any update (RFC7641) which is fully supported by libcoap.  See https://libcoap.net/doc/reference/4.2.1/man_coap_observe.html
 
There was some work done in https://tools.ietf.org/html/draft-bormann-core-responses-00 but this is not supported in libcoap


@mrdeep1 Thank you for your reply!  

In theory, as long as there is a connection, it is possible to send data to each other. But the client is generally use NAT, so I wonder coap can't deal with it, the client should first connect to the server and need to keep NAT alive.  

@mrdeep1 Thank you！I used libcoap-minimal to test the "coap_observe" feature below:

## server
```
    coap_resource_set_get_observable(resource, 1);

    while (true) {
        coap_run_once(ctx, 0); 
        coap_resource_notify_observers(resource, NULL);    
    }

```

## client
Set the "COAP_OBSERVE_ESTABLISH" and keep receiving messages on the client.
```
    coap_add_option(pdu, COAP_OPTION_OBSERVE, COAP_OBSERVE_ESTABLISH, NULL);

    while(true) {
      coap_run_once(ctx, 100);
    }
```

I want to receive the push from the server through the above method, but it failed. Could you give me some advice？


````
    while (true) {
        coap_run_once(ctx, 0); 
        coap_resource_notify_observers(resource, NULL);    
    }
````
has the potential to wait for ever if there is no traffic as the parameter to `coap_run_once()` is `0`.  As per the man page for `coap_run_once` https://libcoap.net/doc/reference/4.2.1/man_coap_io.html it states

>#define COAP_RUN_BLOCK    0
#define COAP_RUN_NONBLOCK 1
If _timeout_ms_ is set to COAP_RUN_BLOCK, then coap_run_once() will wait indefinitely for the first new input packet to come in.

I would suggest that `timeout_ms` is set to, say, `5000`.



I found "examples/coap-server.c" uses “coap_add_data_blocked_response” instead "coap_add_data" to send response. After I modify it in this way, I can receive messages through “coap-client -s 60 coap://127.0.0.1/time -v9”

```
Aug 25 17:40:05.644 DEBG ***127.0.0.1:52383 <-> 127.0.0.1:5683 UDP : new outgoing session
Aug 25 17:40:05.644 DEBG sending CoAP request:
Aug 25 17:40:05.644 DEBG *  127.0.0.1:52383 <-> 127.0.0.1:5683 UDP : sent 10 bytes
v:1 t:CON c:GET i:e2e9 {} [ Observe:0, Uri-Path:time ]
Aug 25 17:40:05.644 DEBG ** 127.0.0.1:52383 <-> 127.0.0.1:5683 UDP : tid=58089: added to retransmit queue (2094ms)
Aug 25 17:40:05.644 DEBG timeout is set to 90 seconds
Aug 25 17:40:05.644 DEBG *  127.0.0.1:52383 <-> 127.0.0.1:5683 UDP : received 19 bytes
v:1 t:ACK c:2.05 i:e2e9 {} [ ETag:\xCA\xBE\x9F\x5F, Observe:0, Content-Format:text/plain, Max-Age:1 ] :: '4321\x00'
Aug 25 17:40:05.644 DEBG ** 127.0.0.1:52383 <-> 127.0.0.1:5683 UDP : tid=58089: removed
Aug 25 17:40:05.644 DEBG message_handler 4321 
```

## problem
However, when I use my own code to receive messages, I always get the warning message below.
```
Aug 25 17:42:47.942 WARN coap_add_option: options are not in correct order
```
I use below code to subscribe the source.
```
    request = coap_pdu_init(COAP_MESSAGE_CON, COAP_REQUEST_GET, 0, coap_session_max_pdu_size(session));

    coap_add_option(request, COAP_OPTION_URI_PATH, 4, reinterpret_cast<const uint8_t *>("time"));
    // add observe
    coap_add_option(request, COAP_OPTION_OBSERVE, 0, NULL);

    coap_send(session, request);

    
    while(true) {
      coap_io_process(ctx, COAP_IO_WAIT);
    }
```



As per https://libcoap.net/doc/reference/4.2.1/man_coap_pdu_setup.html , it states
````
DESCRIPTION

The CoAP PDU is of the form

--header--|--optional token--|--optional options--|--optional payload--

The PDU must be built in the correct order, from left to right. In particular,
the options need to be added in the correct numerical option order as they
are stored in the PDU using relative numeric offsets from the previous option number.
````
`COAP_OPTION_OBSERVE` has a value of `6`, `COAP_OPTION_URI_PATH` has a value of `11`.  Therefore the option `COAP_OPTION_OBSERVE` MUST be defined before `COAP_OPTION_URI_PATH`.  This is one of the reasons why examples/client.c uses `coap_optlist_t` to build up the options before adding them to the PDU in a sorted order.


It is not pointed out here to sort according to the size of the option?  

It it the numerical option type value that has to be numerically ascending, not the size of the option or the size of its value.  So, in your case
````
    // add observe
    coap_add_option(request, COAP_OPTION_OBSERVE, 0, NULL);
   // add uri-path
    coap_add_option(request, COAP_OPTION_URI_PATH, 4, reinterpret_cast<const uint8_t *>("time"));

````
would work (assuming there are no other options defined).

I see! thx, I will try tomorrow!

@mrdeep1 
You are right, "the numerical option type value that has to be numerically ascending". I change the order and it works. Thx!