OSCORE: Support pure "send and forget"

**Is your feature request related to a problem? Please describe.**

libcoap cannot be used to transmit more than one OSCORE message to a receiver that does not send responses. The [following comment](https://github.com/obgm/libcoap/blob/develop/src/coap_net.c#L1612C1-L1614C61) explains:

```
      /*
       * Not sure if remote supports OSCORE, or is going to send us a
       * "4.01 + ECHO" etc. so need to hold off future coap_send()s until all
       * is OK. Continue sending current pdu to test things.
       */
```

This completely breaks things if the receiver never responds, which is permitted per the RFCs. Specifically, the library will not send subsequent messages. As far as I can tell, to reach "all is OK" you currently need a response.

**Describe the solution you would like**

A configurable means of disabling this check, which would be suitable in cases such as mine where I can confirm the destination supports OSCORE, and drive authorization, through other means, and can therefore assume I can send the message.


Does doing
````
diff --git a/src/coap_net.c b/src/coap_net.c
index 729230a6..a80cb8b9 100644
--- a/src/coap_net.c
+++ b/src/coap_net.c
@@ -1608,6 +1608,7 @@ coap_send_lkd(coap_session_t *session, coap_pdu_t *pdu) {
 #if COAP_OSCORE_SUPPORT
   if (session->oscore_encryption) {
+#if 0
     if (session->recipient_ctx->initial_state == 1) {
       /*
        * Not sure if remote supports OSCORE, or is going to send us a
        * "4.01 + ECHO" etc. so need to hold off future coap_send()s until all
@@ -1615,6 +1616,7 @@ coap_send_lkd(coap_session_t *session, coap_pdu_t *pdu) {
        */
       session->doing_first = 1;
     }
+#endif
     /* Need to convert Proxy-Uri to Proxy-Scheme option if needed */
     if (COAP_PDU_IS_REQUEST(pdu) && !coap_rebuild_pdu_for_proxy(pdu)) {
       goto error;
````
work for you? I guess this could be made configurable.

I am assuming that you are doing unidirectional OSCORE using NON, otherwise there will be timeout delays before the second CON PDU can get transmitted.

> This completely breaks things if the receiver never responds, which is permitted per the RFCs

Which RFC and where?

Thanks for the quick response!

> Does doing #if 0 work for you?

I tried that and it does appear to fix the issue - except I had to include the `if` condition within the `#if 0`.

> I am assuming that you are doing unidirectional OSCORE using NON, otherwise there will be timeout delays before the second CON PDU can get transmitted.

Yes, that is correct. I am specifically looking into using libcoap for streaming, where it is critical that individual packets don't elicit a response to save bandwidth and maintain low latency and a stable frame rate (e.g. 40Hz). Unidirectional OSCORE with NON POST seems to be a viable solution. I'd like to do more thorough testing to confirm such frame rates can be achieved stably, since libcoap does introduce a layer between me and the send calls (I'm hoping that doesn't cause jitter, but the code path for sending NON seems pretty direct).

> Which RFC and where?

Apologies, RFC 7252 and 8613 specifically. I had to revisit this and it does actually appear that there are some MUST cases for responses in certain error conditions. However, for the normal NON POST success case, I refer specifically to s5.2.3 of RFC 7252, which says that "the response SHOULD be returned", which I believe allows for receivers to be silent. So assuming there is no error for the first message, this condition would hold up all subsequent messages. libcoap also seems to support this silent behavior if I leave the response fields uninitialized - in that case I can see the "response dropped" logs in my receiver.

So I believe all this is valid per the library and standard. However I am a bit new to CoAP still, so feel free to correct me on any of the details!

Yes, RFC7252 does allow for non-responses, but OSCORE adds in another network layer shim in the CoAP stack.  RFC8613 does not refer to Unidirectional support that I am aware of.

Silent server is defined in https://datatracker.ietf.org/doc/draft-ietf-core-oscore-groupcomm/, so this unidirectional activity need will be supported at some point.

Thanks for confirming (after fixing the typo - code now corrected) that commenting out this part of the code works for you.  I would not expect libcoap to add in jitter of consequence.

> RFC8613 does not refer to Unidirectional support that I am aware of.

This is a point I'll want to be sure on, that I'm not breaking this RFC by not responding. My current belief is that it is still permitted in OSCORE as well as CoAP, since CoAP permits it and I do believe OSCORE inherits CoAP semantics in this regard.

Some RFC8613 text I'm going off of...

s1
> OSCORE protects neither the CoAP messaging layer nor the CoAP Token, which may change between the endpoints; therefore, those are processed as defined in [RFC7252].

s8.2
> The decrypted CoAP request is processed according to [RFC7252].

s4.1.3.6
> No-Response [RFC7967] is an optional feature used by the client to communicate its disinterest in certain classes of responses...

However if I'm wrong here and RFC8613 says somewhere that all NONs must be responded to, I'll want to let my colleagues know. We were looking at groupcomm but are looking at switching to vanilla RFC8613 since the former is still a draft and nobody seems to have implemented yet (although I see libcoap has some TODOs).

> Thanks for confirming (after fixing the typo - code now corrected) that commenting out this part of the code works for you. I would not expect libcoap to add in jitter of consequence.

Of course! And thank you for your input, and for confirmation regarding jitter.

s4.1.3.6 I think covers support for the server not responding.

It is on my ToDo list to get OSCORE group support working and integrated.  The Pairwise component is currently not working in some circumstances.

See #1952 for configuring a silent server.

@ChristianReese Can this be closed now there is a solution?

@mrdeep1 Yes, thank you!