Does libcoap support get server response when using broadcast

libcoap version: 4.3.0
esp-idf v4.4.4

Issue/clarification:
When the client uses the broadcast address (coap://255.255.255.255:5683) to send a POST request, I cannot receive the response information from the server in the client's message_handler, which is registered by the function coap_register_response_handler(ctx, message_handler). But when I use the IP address of the server (coap://192.168.1.4:5683), I can get the response.And whether I use the broadcast address or the server IP address, the server can receive the POST request and respond. In both cases, I can use wireshark to capture the response information of the server, but my client cannot receive it when using the broadcast address.

My question is:
I don't know what should I do to receive the response information from the server in message_handler when using the broadcast address?



The CoAP RFCs specifications do not specify how to handle broadcast traffic (IPv6 does not support broadcast,  only IPv4).

[The linux version of the client is unable to send to a broadcast address, and the linux server is unable to respond.  However a client using LwIP (which esp-idf uses) is able to send broadcast traffic (as the underlying logic does not prevent it) which confuses things.) 

CoAP does however support multicast traffic, the address of which which can be set in the esp-idf example CoAP server by setting `Receive Multicast IP type` under `Example CoAP Server Configuration` (`idf.py menuconfig`).  Then the client can talk to the specified multicast address following the CoAP RFC specifications.  Note that only NON-Confirmable packets can be used ([RFC7252 Section 8 Multicast CoAP](https://www.rfc-editor.org/rfc/rfc7252#section-8) and [RFC7390 Section 2.5 Request and Response Model](https://www.rfc-editor.org/rfc/rfc7390#section-2.5).

@ziven80s #1129 is now in esp-idf idf-extra-components. Closing this issue now, but it can be re-opened if this fix is not working as you expect.